<div class="flex">
  <mat-toolbar class="flex justify-around toolbar-title" style="margin-top: 5%;">Add Traveller</mat-toolbar>

</div>

<mat-card class="main-card">
    
    <form [formGroup]="myTravellerform">
    <div class="pa3-l" style="height: 50vh;overflow-y: auto; background-color:#efebe5; border: solid 1px; margin-left: 4%;margin-right: 4%;">
      <div style="margin-right: 84%;"><h5> Basic Information</h5></div>
      <div class="flex justify-around items-center">
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>First Name<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="firstName" />
          </div>
        </div>
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Last Name<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="lastName" />
          </div>
        </div>
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Email<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="email" />
          </div>
        </div>
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Contact<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="phone" />
          </div>
        </div>
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Gender<span class="label_required">*</span></label>
            <select class="form-control" formControlName="gender">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>
       
      </div>
      <div style="margin-right: 84%;"><h5> Passport Information</h5></div>

      <div class="flex justify-around items-center">
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Passport Number<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="passportnumber" />
          </div>
        </div>
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Issuing Country<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="issuingcountry" />
          </div>
        </div>
       

 <div class="flex w-25 justify-around">
  <div class="form-group">
    <label>Expiry Date<span class="label_required">*</span></label><br />
    <mat-form-field class="form-control ">

      <input matInput [matDatepicker]="picker" formControlName="expirydate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
       

 <div class="flex w-25 justify-around">
  <div class="form-group">
    <label>Birthday<span class="label_required">*</span></label><br />
    <mat-form-field class="form-control ">

      <input matInput [matDatepicker]="picker1" formControlName="birthday" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="flex w-25 justify-around">
  <div class="form-group">
    <label>Name <span class="label_required">*</span></label>
    <input type="text" class="form-control" placeholder="" formControlName="name" />
  </div>
</div>
        
       
      </div>
  
      <div class="flex btn custom-sbt-div">
        <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag" [class.isDisabled]="!myTravellerform.valid" [disabled]="!myTravellerform.valid" >Submit</button>
        <button mat-stroked-button class="sign-out">Cancel</button>
      </div>


    </div>
  </form>
  </mat-card>




  

  <div class="flex">
    <label style=" margin-top: 1.5%;margin-left: 77%;  margin-bottom: -1%;  margin-right: -75%;">Search</label>
    <mat-form-field class="form-control "style="margin-left: 75.5%;     width: 16%;    margin-top: 1%">
      
      <input matInput (keyup)="applyFilter($event)" placeholder="" >
    </mat-form-field>
  </div>
  <div>
    <!-- <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Copy</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Excel</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">PDF</button> -->
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Print</button>
    
  </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

   
 
<!-- BookingId Column -->
<ng-container matColumnDef="sno">
<th mat-header-cell *matHeaderCellDef> SNo </th>
<td mat-cell *matCellDef="let element"> {{element.sno}} </td>
</ng-container>

<ng-container matColumnDef="name">
<th mat-header-cell *matHeaderCellDef> name</th>
<td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>

<ng-container matColumnDef="dob">
<th mat-header-cell *matHeaderCellDef> Date of Birth</th>
<td mat-cell *matCellDef="let element"> {{element.dob}} </td>
</ng-container>
<ng-container matColumnDef="Passport">
<th mat-header-cell *matHeaderCellDef> Passport No</th>
<td mat-cell *matCellDef="let element"> {{element.Passport}} </td>
</ng-container>
<ng-container matColumnDef="doe">
<th mat-header-cell *matHeaderCellDef> Date of Expiry </th>
<td mat-cell *matCellDef="let element"> {{element.doe}} </td>
</ng-container>


<!-- Status Column -->
<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef> Status </th>
<td mat-cell *matCellDef="let element"> {{element.Status}} </td>
</ng-container>
<!-- Trvael Date-
<ng-container matColumnDef="TravelDate ">
<th mat-header-cell *matHeaderCellDef> TravelDate </th>
<td mat-cell *matCellDef="let element"> {{element.TravelDate }} </td>
</ng-container>
-->


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  
  