<div class="flex">
  <mat-toolbar class="flex justify-around toolbar-title" style="margin-top: 5%;">My Trips</mat-toolbar>

</div>

<div class="flex">
  <label style=" margin-top: 1.5%;margin-left: 77%;  margin-bottom: -1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 75.5%;     width: 16%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>



<div>

  <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Print</button>

</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="BookingId">
      <th mat-header-cell *matHeaderCellDef> Booking Id </th>
      <td mat-cell *matCellDef="let element"> {{element.BookingId}} </td>
    </ng-container>
    <ng-container matColumnDef="Bookingdate">
      <th mat-header-cell *matHeaderCellDef> Booking Date </th>
      <td mat-cell *matCellDef="let element"> {{element.Bookingdate}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef> Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
    </ng-container>
    

    <!-- BookingId Column -->
    <ng-container matColumnDef="airline">
      <th mat-header-cell *matHeaderCellDef> Airline</th>
      <td mat-cell *matCellDef="let element"> {{element.airline}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Triptype">
      <th mat-header-cell *matHeaderCellDef> Trip Type </th>
      <td mat-cell *matCellDef="let element"> {{element.Triptype}} </td>
    </ng-container>

    <ng-container matColumnDef="fare">
      <th mat-header-cell *matHeaderCellDef> Fare </th>
      <td mat-cell *matCellDef="let element"> {{element.fare}} </td>
    </ng-container>
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef> Class </th>
      <td mat-cell *matCellDef="let element"> {{element.class}} </td>
    </ng-container>
    <ng-container matColumnDef="Traveldate">
      <th mat-header-cell *matHeaderCellDef> Traveldate </th>
      <td mat-cell *matCellDef="let element"> {{element.Traveldate}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>