
.pa3-l {
    padding: 1rem;
    margin-top: 1%;
  }
   
    mat-form-field {
      margin-right: 10%;
      margin-left: 5%;
  }
  
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  
  .form-group {
    margin-bottom: 2rem;
      margin-top: 5%;
      margin-right: 40%;
  }
  
  .form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    width: calc(1.5em + .75rem + 200px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  
  
  .role-create-btn {
    background-color: #149dcc;
      border: #149dcc;
      color: #fff;
      padding: 8px 24px;
      border-radius: 4px;
      margin-left: 6%;
      margin-right: -5%;
      margin-bottom: 4%;
      margin-top: 0%;
  }
  
  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: scroll;
  }
  
  th, td {
    overflow: hidden;
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  th.mat-header-cell {
    text-align: center;
    padding: 0%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #272929;
    font-size: 16px;
    font-weight: 600;
  }
  
  td.mat-cell {
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
  }
  .ledger{
    background-color: #fcfcfc;
    color: #00203FFF;
    margin-bottom: 20px;
    font-size: x-large;
    margin-right: -20%;
}
  .form-control{
    margin-bottom: 25px;
  }
  h4{
    font-size: 25px;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-top: 2%;
  }
  
  mat-grid-tile {
  border-style: groove;
  width:0%;
  }
  mat-grid-list{
  
  height:20%;
  margin-bottom: 5%;
  }
  mat-tab {
  text-decoration: soli;
  background-color: blue($color: #000000);
  
  }
  mat-tab-group{
  margin-left: 1%;
  
  }