<mat-toolbar class="flex justify-around toolbar-title">My Coupons</mat-toolbar>
<div style="background-color:#efebe5 ;">
<div class="row">
<div class="coupon ">
  <div class="container">
    <h3>Tripee</h3>
  </div>
  
  <div class="container" style="background-color:white">
    <h6><b>30% OFF ON HOTEL+FLIGHT BOOKING</b></h6> 
    <p>Get The Offer</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">FLHO420</span></p>
    <p class="expire">Expires: Jan 03, 2021</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
    <h3>Tripee</h3>
  </div>

  <div class="container" style="background-color:white">
    <h6><b>20% OFF ON FLIGHT BOOKINGS</b></h6> 
    <p>Get The Offer</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">FLIGHT20</span></p>
    <p class="expire">Expires: Jan 03, 2021</p>
  </div>
</div>


</div>
<div class="row">
<div class="coupon" >
  <div class="container">
    <h3>Tripee</h3>
  </div>

  <div class="container" style="background-color:white">
    <h6><b>20% OFF ON HOTEL BOOKINGS</b></h6> 
    <p>Get The Offer</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">HOTEL32</span></p>
    <p class="expire">Expires: Jan 03, 2021</p>
  </div>
</div>
</div>
</div>