

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}

.coupon{
  border: 1px solid #4a4646;
  width: 39%;
  border-radius: -8px;
  margin-left: 5%;
  margin-bottom: 2%;
  max-width: 600px;
  padding: 0%;
}
.row{
  margin-top: 3%;
}
.mat-toolbar{
background: #343a40;
    color: #f5f5f5; }