::ng-deep .login-container .mat-dialog-container{
    height: 237px;
      width: 530px;
      border-radius: 10px;
  }
  .login-title {
    color: #4a4a4a;
  }
  .login-main {
    line-height: 26px;
  }
  .create-account-link {
    color:#008cff;
  }
  .login-input:focus {
    border: none;
  }
  .login-with {
    color: #9b9b9b;
  }
  .login-fb {
    background-color: #3b589a;
  }
  .login-google {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #4a4a4a!important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  .login-google:active {
    background-color: #ffffff!important;
    border-color: #ffffff!important;
    color: #4a4a4a!important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
  }
  .close-icon {
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
  }
  a:hover {
    background-color: rgb(2, 71, 39);
  }
  
  
  