
<div class="flex">
  <mat-toolbar class="flex justify-around toolbar-title" style="margin-top: 5%;">Car Results</mat-toolbar>

</div>

<div class="continer">
<!-- Schedule & Tickets -->
<div class="card card--has-table">              
    <div class="card__content">
      <div class="table-responsive">
        <table class="table table-hover team-schedule table-spacing">
          <tbody>
            <tr>
              <td class="team-schedule__versus">
                <div class="team-meta">                  
                  <figure class="team-meta__logo">
                    <img src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg" alt="">
                  </figure>
                  <div class="eventparticipant-card_conent">
                    <div class="eventparticipant-card_name">varun kishore</div>
                    <div class="eventparticipant-card_info_cnt">india</div>
                  </div>                  
                </div>
              </td>
              <td class="team-schedule__date">
                <div class="game_wrap">
                    <div class="game_wrap_txt_time">10:10</div>
                    <div class="game_wrap_txt_date">2/10/2020</div>
                    <div class="game_wrap_txt_place">chennai</div>
                </div>
              </td>
              <td class="team-schedule__time">
                  <div class="game_wrap_price">00hrs 55mins</div>               
              </td>
              <td class="team-schedule__round">
                <div class="game_wrap">
                    <div class="game_wrap_txt_time">10:10</div>
                    <div class="game_wrap_txt_date">2/10/2020</div>
                    <div class="game_wrap_txt_place">chennai</div>
                </div>
              </td>
              <td class="team-schedule__round">
                <div class="game_wrap_price">&#8377; 2345</div>               
              </td>                                                            
              <td class="team-schedule__tickets">
                <a href="#" class="btn btn-info  btn-xs ">
                  view lobby
                </a>
              </td>
            </tr>
            <tr class="extra">
                <td colspan="6">
                    <div class="deatlis_txt_wrap">
                        <div class="deatlis_txt">Flight Details</div>
                        <div class="deatlis_txt_plus">+</div>
                    </div>
                </td>
            </tr>          
        </tbody>
        </table>
      </div>

      <div class="table-responsive">
        <table class="table table-hover team-schedule table-spacing">
          <tbody>
            <tr>
              <td class="team-schedule__versus">
                <div class="team-meta">                  
                  <figure class="team-meta__logo">
                    <img src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg" alt="">
                  </figure>
                  <div class="eventparticipant-card_conent">
                    <div class="eventparticipant-card_name">varun kishore</div>
                    <div class="eventparticipant-card_info_cnt">india</div>
                  </div>                  
                </div>
              </td>
              <td class="team-schedule__date">
                <div class="game_wrap">
                    <div class="game_wrap_txt_time">10:10</div>
                    <div class="game_wrap_txt_date">2/10/2020</div>
                    <div class="game_wrap_txt_place">chennai</div>
                </div>
              </td>
              <td class="team-schedule__time">
                  <div class="game_wrap_price">00hrs 55mins</div>               
              </td>
              <td class="team-schedule__round">
                <div class="game_wrap">
                    <div class="game_wrap_txt_time">10:10</div>
                    <div class="game_wrap_txt_date">2/10/2020</div>
                    <div class="game_wrap_txt_place">chennai</div>
                </div>
              </td>
              <td class="team-schedule__round">
                <div class="game_wrap_price">&#8377; 2345</div>               
              </td>                                                            
              <td class="team-schedule__tickets">
                <a href="#" class="btn btn-info  btn-xs ">
                  view lobby
                </a>
              </td>
            </tr>
            <tr class="extra">
                <td colspan="6">
                    <div class="deatlis_txt_wrap">
                        <div class="deatlis_txt">Flight Details</div>
                        <div class="deatlis_txt_plus">+</div>
                    </div>
                </td>
            </tr>          
        </tbody>
        </table>
      </div>

    </div>
</div>
<!-- Schedule & Tickets / End -->

</div>
