body{
    background: #efece5;
    margin: 0;
    font-family: 'Exo 2';
}
.continer{
    max-width: 1280px;
    margin: 10% auto;
}
a{
    text-decoration: none;
}


figure {
    margin: 0;
  }
  /*----------------team_match-----------------*/
  
  
         /* Tables start
  /* ------------------------- */
  table {
    background-color: transparent;
  }
  
  caption {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: left;
  }
  
  th {
    text-align: left;
  }
  
  .table {
    width: 100%;
    max-width: 100%;
  }
  
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 6.5px;
    vertical-align: top;
    
    
    font-size: 10px;
    line-height: 1.42857143em;
  }
  
  @media (min-width: 992px) {
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
      padding: 9px 10px;
      font-size: 11px;
    }
  }
  
  .table > thead > tr > th {
    vertical-align: bottom;
    /*border-bottom: 1px solid #4b3b60;*/
    font-weight: 700;
    color:#bbbb;
    /*font-style: italic;*/
    text-transform: uppercase;
  }
  
  .table > tbody > tr > th {
    color: #fff;
    font-weight: normal;
  }
  
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    color: #fff;
    background-color: #1b2731;
  
  }
  
  .table > tbody + tbody {
    border-top: 2px solid #3e4652;
  }
  
  .table--lg > thead > tr > th,
  .table--lg > thead > tr > td,
  .table--lg > tbody > tr > th,
  .table--lg > tbody > tr > td,
  .table--lg > tfoot > tr > th,
  .table--lg > tfoot > tr > td {
    padding: 8.5px;
  }
  
  @media (min-width: 992px) {
    .table--lg > thead > tr > th,
    .table--lg > thead > tr > td,
    .table--lg > tbody > tr > th,
    .table--lg > tbody > tr > td,
    .table--lg > tfoot > tr > th,
    .table--lg > tfoot > tr > td {
      padding: 17px 12px;
    }
  }
  
  .table-thead-color > thead > tr > th {
    background-color: #403351;
  }
  
  .table-top-border > thead:first-child > tr:first-child > th {
    border-top: 1px solid #3e4652;
  }
  
  .table > tbody > tr.highlighted {
    background-color: #1818183b;
  }
  
  td.highlight {
    color: #fff;
  }
  
  .table-hover > tbody > tr {
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    box-shadow: 2px 3px 6px rgba(0,0,0,.5);
    background: white;
  }
  /* tr:nth-child(even) {
    background-color: #d4cec0!important;
    box-shadow: 2px 3px 6px rgba(0,0,0,.5);
  } */
  .extra {
 
    background-color: #d4cec0!important;
    box-shadow: 2px 3px 6px rgba(0,0,0,.5);
  }
  
  /* .table-hover > tbody > tr:hover {
    background-color: #15232e;
  } */
  
  
  @media (max-width: 767px) {
    .table-responsive {
      border: none;
      margin-bottom: 0;
    }
  }
  
  .table--no-border > thead > tr > th,
  .table--no-border > thead > tr > td,
  .table--no-border > tbody > tr > th,
  .table--no-border > tbody > tr > td,
  .table--no-border > tfoot > tr > th,
  .table--no-border > tfoot > tr > td {
    border: none;
  }
  
  .table__cell-center {
    text-align: center;
  }
  
  .table__cell-center > thead > tr > th {
    text-align: center;
  }
  
  .table__cell-center > thead > tr > th:first-child {
    text-align: left;
  }
  
  .table-stats > thead > tr > th,
  .table-stats > thead > tr > td,
  .table-stats > tbody > tr > th,
  .table-stats > tbody > tr > td,
  .table-stats > tfoot > tr > th,
  .table-stats > tfoot > tr > td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table-stats > thead > tr > th.text-left,
  .table-stats > thead > tr > td.text-left,
  .table-stats > tbody > tr > th.text-left,
  .table-stats > tbody > tr > td.text-left,
  .table-stats > tfoot > tr > th.text-left,
  .table-stats > tfoot > tr > td.text-left {
    text-align: left;
  }
  
  .table-stats > thead > tr > th.text-right,
  .table-stats > thead > tr > td.text-right,
  .table-stats > tbody > tr > th.text-right,
  .table-stats > tbody > tr > td.text-right,
  .table-stats > tfoot > tr > th.text-right,
  .table-stats > tfoot > tr > td.text-right {
    text-align: right;
  }
  
  @media (min-width: 992px) {
    .table-stats > thead > tr > th:first-child,
    .table-stats > tbody > tr > td:first-child {
      padding-left: 24px;
    }
  }
  
  @media (min-width: 992px) {
    .table-stats > thead > tr > th:last-child,
    .table-stats > tbody > tr > td:last-child {
      padding-right: 24px;
    }
  }
  
  
  
  
  
  .team-sub-header{
    color: #dcedc8!important;
  }
            /*table-end*/
  /* ------------------------- */ 
  
  
  .table-responsive {
      display: block;
      width: 100%;
      /* overflow-x: auto; */
      margin-bottom: 14px;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .table-spacing {
      border-spacing: 0px 0px;
  }
  
  .team-meta {
    text-align: left;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .team-meta__logo {
    width: 75px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .team-meta__logo img {
    width: 100%;
    display: block;
    border-radius: 5px;
  }
  
  
  .eventparticipant-card_conent{
    display: inline-block;
    vertical-align: middle;
  }
  .eventparticipant-card_name{
   color: #000;
    font-size: 14px;
    margin-bottom: 4px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -.02em;
    font-weight: 700;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 130px;
    
  }
 
  .eventparticipant-card_info_cnt{
    padding-left: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .game_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .game_wrap_txt_time{
    font-size: 20px;
    margin-bottom: 4px;
  }
  .game_wrap_txt_date{
    font-size: 14px;
  }
  .game_wrap_txt_place{
    font-size: 14px;
  }
  .game_wrap_price{
    font-size: 14px;
  }
  .deatlis_txt_wrap{
      position: relative;
  }
  .deatlis_txt{
    font-size: 14px; 
  }
  .deatlis_txt_plus{
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 10%;
  }

  


  .team-schedule > thead > tr > th {
    vertical-align: middle;
    text-align: center;
  }
  
  .team-schedule > thead > tr > th:first-child {
    text-align: center;
    padding-left: 24px;
    border-radius:  4px 0 0 4px;
  }
  
  .team-schedule > thead > tr > th:last-child {
    padding-right: 24px;
    border-radius: 0 4px 4px 0;
  }
  
  .team-schedule > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
  }
  
  .team-schedule > tbody > tr > td:first-child {
    padding-left: 24px;
    /* border-radius:  4px 0 0 4px; */
    white-space: nowrap;
  }
  
  .team-schedule > tbody > tr > td:last-child {
    padding-right: 24px;
    /* border-radius: 0 4px 4px 0; */
  }
  
  .team-schedule .team-schedule__date,
  .team-schedule 
  .team-schedule .team-schedule__compet,
  .team-schedule .team-schedule__venue {
    text-align: center;
  }
  
 
  .team-schedule__time{
    white-space: nowrap;
  }
  
 
  
  
  .team-schedule__date{
    position: relative;
  }
  .team-schedule > thead > tr > th:first-child::before{
     content: "";
      display: block;
      position: absolute;
      width: 6px;
      left: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(to top, rgb(79, 172, 254) 0%, rgb(0, 242, 254) 100%);
  }
  
  
  
  .card {
    width: 100%;
  }
  
  
  .btn-info {
    color: #1b2731d1;
    background: linear-gradient(90deg,#1b8fe4,#2e88ef);
  
  }
  .btn-info:hover{
    color: #fff;
    box-shadow: 0px 0px 5px 0px #3CA3F0;
  }
  
  .btn-xs {
      padding: 6px 12px;
      font-size: 12px;
      line-height: 1.5em;
      border-radius: 4px;
      white-space: nowrap;
      font-weight: 600;
  }
  
  
  /*-----------team match end---------*/
  