<div class="row" style="padding-top: 4%;">
  <div class="col-md-8 packages">
      <div class="row">
          <div class="col-md-12 text-center">
              <div class="box">
                  <h4 class="fl-title"><b>Departure | {{fromAirportName}} → {{toAirportName}} | ( {{adultCount}} Adult
                          / {{childCount}} Child / {{infantCount}} Infant ) Refundable</b></h4> <br>
                  <div class="row">
                      <div class="col-md-2 air-logo">
                          <img src="/Content/AirlineLogo/6E.gif" class="img-responsive center-block" alt="air logo">
                          <p>{{airlineName}}</p>
                          <p>{{airlineCode}} {{flightNo}}</p>
                          <h5>Class: {{flightClass}}</h5>
                      </div>

                      <div class="col-md-3 air-date">
                          <h5>{{fromAirportName}} ({{fromAirportCode}})</h5>
                          <h4><b>{{depTime}}</b></h4>
                          <p>{{depDate}}</p>
                          <p>{{fromTerminal}}</p>
                      </div>

                      <div class="col-md-4">
                          <h5>{{remainingTime}}</h5>
                          <img src="https://www.geturtrip.com/Content/img/one-way.png" alt="one-way">
                          <p>

                              <span
                                  style="background: #05a705; color: #fff; padding: 2px 15px; border-radius: 15px;">Refundable</span>
                          </p>
                      </div>

                      <div class="col-md-3 air-date">
                          <h5>{{toAirportName}} ({{toAirportCode}})</h5>
                          <h4><b>{{arrTime}}</b></h4>
                          <p>{{arrDate}}</p>
                          <p>{{toTerminal}}</p>
                      </div>
                  </div>
                  <!--row-->


              </div>
              <!--box-->


          </div>
          <!--col-md-12-->
      </div>
      <!--row-->



     


      <div>
          <form [formGroup]="personsForm" (submit)="onFormSubmit()">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="box">
                          <div formArrayName="persons" class="personalinfo">

                              <div *ngFor="let person of persons; let i = index;" [formGroupName]="i">
                                  <!-- <div *ngIf="i < 4 " > -->
                                      <div class="row">
                                      <div class="form-group w-25">
                                  <input class="form-control" placeholder="FirstName {{ i + 1 }}" type="text"
                                      formControlName="adultfirstname">
                                  </div>
                                  <div class="form-group w-25">
                                  <input class="form-control" placeholder="LastName {{ i + 1 }}" type="text"
                                      formControlName="adultlastname">
                                  </div>
                                  <div class="form-group w-25">
                                  <select class="form-control">
                                      <option>MALE</option>
                                      <option>FEMALE</option>
                                  </select>
                              </div>
                                  <!-- <p>  {{ adultfirstname }} {{adultlastname}} {{gender}}</p> -->
                                  <!-- <h5>{{personsForm.value.adultfirstname}}</h5> -->
                                  <button id="rem" (click)="removePerson(i)">Remove</button>

                              </div>
                              </div>

                              <button type="button" (click)="addPerson()">
                                  ADD ADULT
                              </button>

                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="box">
                          <div formArrayName="children" class="personalinfo">


                              <div *ngFor="let child of children; let i = index;" [formGroupName]="i">
                                  <div class="row">
                                  <div class="form-group w-25">
                                  <input  class="form-control"placeholder="FirstName {{ i + 1 }}" type="text"
                                      formControlName="childfirstname">
                                      </div>
                                      <div class="form-group w-25">
                                  <input class="form-control" placeholder="LastName {{ i + 1 }}" type="text"
                                      formControlName="childlastname">
                                      </div>
                                      <div class="form-group w-25">
                                  <select class="form-control">
                                      <option>MALE</option>
                                      <option>FEMALE</option>
                                  </select>
                                      </div>
                                  <button id="rem" (click)="removechild(i)">Remove</button>
                              </div>

                              </div>

                              <button type="button" (click)="addChild()">
                                  ADD CHILD
                              </button>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="box">
                          <div formArrayName="infants" class="personalinfo">
                             

                                  <div *ngFor="let child of infants; let i = index;" [formGroupName]="i">
                                      <div class="row">
                                      <div class="form-group w-25">
                                          <input class="form-control" placeholder="FirstName {{ i + 1 }}" type="text"
                                              formControlName="infantfirstname">
                                      </div>
                                      <div class="form-group w-25">
                                          <input class="form-control" placeholder="LastName {{ i + 1 }}" type="text"
                                              formControlName="infantlastname">
                                      </div>
                                      <div class="form-group w-25">

                                          <select class="form-control">
                                              <option>MALE</option>
                                              <option>FEMALE</option>
                                          </select>
                                      </div>

                                      <button id="rem"(click)="removeinfant(i)">Remove</button>


                                 
                              </div>
                          </div>
                              <button type="button" (click)="addinfant()">
                                  ADD INFANT
                              </button>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- <button>
                                    Submit
                                  </button> -->
          </form>








          <div class="row">
            <div class="col-md-12 text-center">
                <div class="box">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    GST number (Optional)
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                          <div><h5>Hello GST</h5></div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

        </div>









      </div>


  </div>








  <div class="col-md-4 packages">
      <div class="row">
          <div class="col-md-12">
              <div class="box">
                  <h4 class="fl-title">Fare Details</h4>
                  <hr>

                  <table class="table table-bordered">
                      <tbody>
                          <tr *ngIf="showFields">
                              <td>Adult x {{adultCount}}</td>
                              <td><span class="">INR </span>{{adultFare}}</td>
                          </tr>
                          <tr *ngIf="showFields">
                              <td>Child x {{childCount}}</td>
                              <td><span class="">INR </span>{{childFare}}</td>
                          </tr>
                          <tr *ngIf="showFields">
                              <td>Infant x {{infantCount}}</td>
                              <td><span class="">INR </span>{{infantFare}}</td>
                          </tr>
                          <tr *ngIf="showFields">
                              <td>Base Fare</td>
                              <td><span class="">INR </span>{{basefare}}</td>
                          </tr>
                          <tr *ngIf="showFields">
                              <td>Net Fare</td>
                              <td><span class="">INR </span>{{netfare}}</td>
                          </tr>
                          <tr *ngIf="showFields">
                              <td>TAF Fare</td>
                              <td><span class="">INR </span>{{taffare}}</td>
                          </tr>

                          <!-- <tr *ngIf="showFields"><td>CGST</td><td><span class="">INR </span>{{cgst}}</td></tr>
                                  <tr *ngIf="showFields"><td>SGST</td><td><span class="">INR </span>{{sgst}}</td></tr> -->
                          <tr>
                              <td><strong>Grand Total</strong> </td>
                              <td><strong><span class="">INR </span>{{totalAmount}}</strong></td>
                          </tr>
                          <tr>
                              <td>
                                  <h4>You Will be charged</h4>
                              </td>
                              <td>
                                  <h4><span class="">INR </span>{{totalAmount}}</h4>
                              </td>
                          </tr>


                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>



  <div class="flex btn custom-sbt-div">
      <button mat-stroked-button class="sign-out custom-sbt-btn" (click)="confirmBooking() ">Continue</button>
  </div>