<div class="pa3-l">
    <div class="flex w-100 mb3">
      <div class="w-80">
        <mat-card class="ledger">Statement of Accounts</mat-card>
      </div>
    </div>
  </div>


  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Date From" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Date To"
           [formControl]="serializedDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <div class="flex w-50 justify-around">
    <div class="form-group">
      <label>Channel</label>
      <select class="form-control" formControlName="currency" name="currency" placeholder="select">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
  </div>

  <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">View Report</button>



  <h4 class="text-center">Statement of Accounts</h4>


 
    <div>
        <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Copy</button>
        <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Excel</button>
        <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">PDF</button>
        <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Print</button>
      </div>
  
      <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="search a user">
      </mat-form-field>




      <div class="pa3-l">


        <div class="flex w-100">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
    
               
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> SI NO</th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        
      <ng-container matColumnDef="customerid">
        <th mat-header-cell *matHeaderCellDef>Customer Id</th>
        <td mat-cell *matCellDef="let element"> {{element.customerid}} </td>
      </ng-container>
    
      <ng-container matColumnDef="customername">
        <th mat-header-cell *matHeaderCellDef> custome Name</th>
        <td mat-cell *matCellDef="let element"> {{element.customername}} </td>
      </ng-container>
    

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
    
      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef>Module</th>
        <td mat-cell *matCellDef="let element"> {{element.module}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="netprice">
        <th mat-header-cell *matHeaderCellDef>Net Price </th>
        <td mat-cell *matCellDef="let element"> {{element.netprice}} </td>
      </ng-container>


      <ng-container matColumnDef="agentprofit">
        <th mat-header-cell *matHeaderCellDef>Agent Profit </th>
        <td mat-cell *matCellDef="let element"> {{element.agentprofit}} </td>
      </ng-container>


      <ng-container matColumnDef="bookingid">
        <th mat-header-cell *matHeaderCellDef>Booking Id</th>
        <td mat-cell *matCellDef="let element"> {{element.bookingid}} </td>
      </ng-container>

      <ng-container matColumnDef="createddate">
        <th mat-header-cell *matHeaderCellDef>Create Date</th>
        <td mat-cell *matCellDef="let element"> {{element.createddate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="traveldate">
        <th mat-header-cell *matHeaderCellDef>Travel Date</th>
        <td mat-cell *matCellDef="let element"> {{element.traveldate}} </td>
      </ng-container>
    
    
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>
    </div>
    </div>
    
      