<div class="flex truncate">
    <div #mySidenav class="side-nav-slider">
      <mat-card class="vh-100 side-nav-main flex flex-column items-center">
        <div class="brand-main">
            <img *ngIf="!showNavLabels" class="brand-logo" src="../../../assets/images/Tripee.png">
            <!-- <img *ngIf="showNavLabels" class="brand-logo" src="../../../assets/images/gt.jpg" alt="gtlogo"> -->
        </div>

        <div class="nav-route-main">
          <mat-accordion class="side-nav-expansions">
            <mat-expansion-panel class="nav-items-li pointer" [ngClass]="{'nav-item-active': item.navLabel === adminTitle}" *ngFor="let item of adminNavItems" (click)="onRoles(item)" [disabled]="item.isDisabled" [hideToggle]="item.toggle">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="{{item.navIcon}}" aria-hidden="true" style="width: 30px;color: #434d6b;flex: 0 0 35px;"></i>
                  <span *ngIf="!showNavLabels" class="nav-items-label" [ngClass]="{'nav-item-label-active': item.navLabel === adminTitle}">{{item.navLabel}}</span>
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list role="list" *ngFor="let sub of item.subList">
                <mat-list-item class="custom-sub-list" role="listitem" (click)="onSubRoles(sub)">{{sub.subNavLabel}}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>


            <!-- <li class="nav-items-li" [ngClass]="{'nav-item-active': item.navLabel === adminTitle}" *ngFor="let item of adminNavItems" (click)="onRoles(item)">
              <i class="{{item.navIcon}}" aria-hidden="true" style="width: 30px;color: #434d6b;flex: 0 0 35px;"></i>
              <span *ngIf="!showNavLabels" class="nav-items-label" [ngClass]="{'nav-item-label-active': item.navLabel === adminTitle}">{{item.navLabel}}</span>
            </li> -->
        </div>
      </mat-card>
    </div>
    <div #main class="w-100 flex flex-column">
      <div>
          <mat-card class="header-main">
              <div class="flex items-center justify-between">
                  <!-- <div class="flex half-circle">
                      <div class="center-arr" *ngIf="!openedNav" (click)="closeNav()"><i class="fa fa-bars"></i></div>
                      <div class="center-arr" *ngIf="openedNav" (click)="openNav()"><i class="fa fa-ellipsis-v"></i></div>
                      <div class="dashboard-title pl4">{{adminTitle}}</div>
                  </div> -->
                  <div class="cursor-pointer" style="width: auto;">
                                  <!-- <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon> -->
                      <button class="user-account-button" style="width: auto;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <span>Hi, {{username}} <i class="fa fa-user-circle user-account-icon"></i></span>
                      </button>
                      <mat-menu #menu="matMenu">
                        <li class="nav-items-li">
                          <a routerLink="agent-dashboard/agentprofile">
                          <i class="fa fa-user" aria-hidden="true" style="width: 30px;color: #434d6b;flex: 0 0 35px;"></i>
                          <span class="nav-items-label">My Profile</span>
                          </a>
                        </li>
                        <li class="nav-items-li">
                          <i class="fa fa-key" aria-hidden="true" style="width: 30px;color: #434d6b;flex: 0 0 35px;"></i>
                          <span class="nav-items-label">Change Password</span>
                        </li>
                        <li class="flex items-center justify-around mt2">
                            <button mat-stroked-button class="sign-out">Sign Out</button>
                        </li>
                      </mat-menu>
                  </div>
              </div>
          </mat-card>
      </div>
      <div style="padding-top: 2%;
      padding-left: 2%;
      padding-right: 2%;
      background: #ecedf3;
      height: 88vh;
      overflow-y: auto">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>

