<mat-card class="main-card">
    <mat-toolbar class="flex justify-around toolbar-title">B2C Hotel Report</mat-toolbar>
    <form [formGroup]="B2CHotelReport" >
    <div class="pa3-l" style="height: 25vh;overflow-y: auto;background-color: #efebe5; border:solid 1px;">
      <div class="flex justify-around items-center">
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>API<span class="label_required">*</span></label>
                <select class="form-control" formControlName="api" name="api1" placeholder="select">
                  <option *ngFor="let api1 of API" [value]="ap1">{{api1 }}</option>
                </select>
            </div>
          </div>

          <div class="flex w-25 justify-around">
            <div class="form-group">
                <label>Start Date<span class="label_required">*</span></label><br />
                <mat-form-field class="form-control ">
                  
                  <input  matInput [matDatepicker]="picker" formControlName="startdate"  />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
        </div>
  
        <div class="flex w-25 space-around">
          <div class="form-group">
              <label>End Date<span class="label_required">*</span></label><br />
              <mat-form-field class="form-control ">
                
                <input  matInput [matDatepicker]="picker2" formControlName="enddate"  />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
      </div>
        </div>
       
  
  
  
     

     
      
  
  
      <div class="flex btn custom-sbt-div">
        <button mat-stroked-button *ngIf="!adminStatus" class="sign-out custom-sbt-btn"  [disabled]="!B2CHotelReport.valid"(click)="onSubmit()">Submit</button>
        <button mat-stroked-button class="sign-out">Cancel</button>
      </div>
    </div>
  </form>
  </mat-card>

  <div class="flex">
    <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
    <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
      
      <input matInput (keyup)="applyFilter($event)" placeholder="" >
    </mat-form-field>
  </div>
  
  
  
  
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>



<!-- Created Date Column -->
<ng-container matColumnDef="API">
<th mat-header-cell *matHeaderCellDef mat-sort-header> API </th>
<td mat-cell *matCellDef="let element"> {{element.API}} </td>
</ng-container>
<!-- Status Column -->
<ng-container matColumnDef="HotelPNR">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Hotel PNR </th>
<td mat-cell *matCellDef="let element"> {{element.HotelPNR}} </td>
</ng-container>
<!-- Trvael Date-
<ng-container matColumnDef="TravelDate ">
<th mat-header-cell *matHeaderCellDef> TravelDate </th>
<td mat-cell *matCellDef="let element"> {{element.TravelDate }} </td>
</ng-container>
-->


<ng-container matColumnDef="Noofrooms">
<th mat-header-cell *matHeaderCellDef mat-sort-header> No of Rooms</th>
<td mat-cell *matCellDef="let element"> {{element.Noofrooms}} </td>
</ng-container>

<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
<td mat-cell *matCellDef="let element"> {{element.Status}} </td>
</ng-container>


<ng-container matColumnDef="AdminMarkup">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Admin Markup</th>
<td mat-cell *matCellDef="let element"> {{element.AdminMarkup}} </td>
</ng-container>


<ng-container matColumnDef="TotalPrice">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
<td mat-cell *matCellDef="let element"> {{element.TotalPrice}} </td>
</ng-container>
 <!-- Deleted Icon Column -->
 <ng-container matColumnDef="delete">
  <th class="extra-small-column" mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
  <td class="extra-small-column" mat-cell *matCellDef="let row"> <mat-icon style="color: #f00000; cursor: pointer" (click)="onDistributorDelete(row)">delete</mat-icon> </td>
</ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  