<mat-card class="main-card">
  <mat-toolbar class="flex justify-around toolbar-title">Voucher</mat-toolbar>
  <form [formGroup]="VoucherForm">
  <div class="pa3-l" style="height: 46vh;overflow-y: auto; background-color: #efebe5; border: solid 1px;margin-bottom: 3%;">
    
    <div class="flex justify-around items-center">
      <div class="flex w-50 justify-around">
        <div class="form-group">
          <label>Voucher Name&nbsp;<span class="label_required">*</span></label>
          <input type="text" class="form-control" placeholder="" formControlName="vouchername" />
        </div>
      </div>


      <div class="flex w-50 justify-around">
        <div class="form-group">
          <label>Voucher Price&nbsp;<span class="label_required">*</span></label>
          <input type="text" class="form-control" placeholder="" formControlName="voucherprice" />
        </div>
      </div>
    
  </div>
 
    
    <div class="flex justify-around items-center">
      <div class="flex w-50 justify-around">
        <div class="form-group">
          <label>Start Date<span class="label_required">*</span></label><br />
          <mat-form-field class="form-control ">

            <input matInput [matDatepicker]="picker" formControlName="startdate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="flex w-50 justify-around ">
        <div class="form-group">
          <label>End Date<span class="label_required">*</span></label><br />
          <mat-form-field class="form-control ">

            <input matInput [matDatepicker]="picker2" formControlName="enddate" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    
    

 <div class="flex btn custom-sbt-div">
  <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag" [class.isDisabled]="!VoucherForm.valid" [disabled]="!VoucherForm.valid" >Submit</button>
  <button mat-stroked-button class="sign-out">Cancel</button>
</div>
</div>
</form>
</mat-card>


<div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>




<!-- 
<mat-form-field class="width: 30%;">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field> -->

<div>
  <!-- <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Copy</button>
  <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Excel</button> -->
  <button class="btn btn-primary" class="role-create-btn" (click)="createPdf()">PDF</button>
  
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

 

<!-- BookingId Column -->
<ng-container matColumnDef="sno">
<th mat-header-cell *matHeaderCellDef> SNo </th>
<td mat-cell *matCellDef="let element"> {{element.sno}} </td>
</ng-container>

<ng-container matColumnDef="vouchername">
<th mat-header-cell *matHeaderCellDef> Voucher Name </th>
<td mat-cell *matCellDef="let element"> {{element.vouchername}} </td>
</ng-container>
<ng-container matColumnDef="voucherprice">
  <th mat-header-cell *matHeaderCellDef> Voucher Price </th>
  <td mat-cell *matCellDef="let element"> {{element.voucherprice}} </td>
  </ng-container>
  
<ng-container matColumnDef="createddate">
<th mat-header-cell *matHeaderCellDef> Created Date </th>
<td mat-cell *matCellDef="let element"> {{element.createddate}} </td>
</ng-container>
<ng-container matColumnDef="expirydate">
<th mat-header-cell *matHeaderCellDef> Expiray Date</th>
<td mat-cell *matCellDef="let element"> {{element.expirydate}} </td>
</ng-container>


<!-- Status Column -->
<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef> Status </th>
<td mat-cell *matCellDef="let element"> {{element.Status}} </td>
</ng-container>
<!-- Trvael Date-
<ng-container matColumnDef="TravelDate ">
<th mat-header-cell *matHeaderCellDef> TravelDate </th>
<td mat-cell *matCellDef="let element"> {{element.TravelDate }} </td>
</ng-container>
-->


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>


