.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.role-create-btn {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #212529;
  font-size: 15px;
  font-weight: 500;
  border-radius: 1px;
  margin-right: 5px;
  background-clip: padding-box;
  background-color: #dee6e0;
  border: 1px solid black;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
    width:50%;
    margin-left:5%;
  }
  ::ng-deep .mat-datepicker-toggle-default-icon {
    width: 100%;
    margin-top: -150%;
}
.form-group {
  margin-bottom: 1rem;
  margin-top: 2%;
}

// ::ng-deep .mat-input-element {
//   font: inherit;
//   background: 0 0;
//   color: currentColor;
//   border: none;
//   outline: 0;
//   padding: 20px;
//   margin: 0;
//   width: 100%;
//   max-width: 100%;
//   vertical-align: bottom;
//   text-align: inherit;
// }
input.mat-input-element {
  margin-top: -6.0625em;
  padding: 5%;
}
::ng-deep .mat-button-ripple.mat-ripple {
  /* top: 8px; */
  /* left: 7px; */
  /* right: 0; */
  /* bottom: 0; */
  /* position: absolute; */
  /* pointer-events: none; */
  /* border-radius: inherit; */
  display: none;
}
// .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
//   width: 16em;
// }
// .mat-datepicker-toggle-default-icon {
//   width: 2em;
//   /* margin-left: -4%; */
//   margin-top: -150%;
// }
.form-control {
  display: block;
  height: calc(1.5em + .75rem + 2px);
  width: calc(1.5em + .75rem + 311px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #212529;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.toolbar-title {
  color: #6c7293;
}
.main-card {
  padding: 0;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #5d78ff!important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #5d78ff!important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:#5d78ff!important;
}

::ng-deep label {
  color: black;
}
::ng-deep .mat-form-field-label-wrapper {
  position: absolute;
  left: 11px;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  top: -80%;
}
.sign-out {
  border: 1px solid #212529;
  //color: white;
  /* border-color: #5d78ff; */
  color: #212529;
}

.custom-sbt-btn {
  margin-right: 2rem!important;
}

.custom-sbt-div {
  margin-left: 38%;
}
table {
  width: 100%;
  table-layout: fixed;
  border:solid;
  border-width: 1px;
}
th .mat-header-cell{
  border:solid;
  border-width:1px;

}

.mat-toolbar {
background: #5a6069;

}
.mat-header-cell {
  color: #212529;
}
.toolbar-title{
color: white;
}
.mat-header-cell {
  font-size: 15px;
  font-weight: bold;
}
th.mat-header-cell {
text-align: center;
border:solid;
border-width: 2px;
}

td.mat-cell, td.mat-footer-cell {
  padding: 9px;
  border-bottom-width: 1px;
  border-bottom-style: 1px;
  white-space: pre-wrap;
  overflow: ellipse;
  overflow: ellipse;
  margin: 29%;
  overflow-wrap: break-word;
  border: solid 1px;
  //overflow: scroll;
  background-color: #efebe5;}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
color: #212529;
}
.mat-card {
background: #dee2e6;
color: rgba(0,0,0,.87);
}
.mat-stroked-button {
  border:solid;
border-width: 1px;
padding: -2px 15px;
line-height: 34px;
background: #f8f9fa;
}