.picsum-img-wrapper {
  height: 600px;
}
::ng-deep {
  .carousel-item {
    transition: opacity 0.7s ease !important;
    position: absolute !important;
    display: block !important;
    opacity: 0;
  }

  
  .carousel-item.active {
    position: relative !important;
    opacity: 1;
  }
}
.mat-chip-button {
  background-color: transparent;
  border: none;
  color: #797979;
  font-weight: 500;
}

.mat-chip-button:focus {
  outline: none;
}
.justify-between {
  justify-content: space-between;
  margin-left: 5%;
}
// .scroll-items:hover {
//   // padding-bottom: 5px;
//   color: #ef4b5a;
// }

.booking-temp {
  position: absolute!important;
  width: 441px;
  padding: 10px;
  margin-top: 7%;
  margin-left: 1%;
}

::ng-deep .mat-tab-label {
  padding: 0px!important;
  min-width: 0px!important;
}

::ng-deep .mat-tab-label-active {
 color: #065af3;

}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  // background-color: #ef4b5a;
  background-image: linear-gradient(45deg, #53b2fe, #065af3);
}

.flight-search-title {
  color: #484848;
}

::ng-deep .mat-chip.mat-standard-chip {
  background-color: #ffffff;
  color: rgb(121, 121, 121);
  border: 2px solid rgb(121, 121, 121);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #065af3;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  // background-color: #ef4b5a;
  background-image: linear-gradient(45deg, #53b2fe, #065af3);
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #065af3;
}

::ng-deep .mat-datepicker-toggle-active {
  color: #065af3;
}

::ng-deep .mat-input-count .mat-form-field {
  width: 75px;
}

::ng-deep .mat-input-date .mat-form-field {
  width: 180px;
}
.btn{
  background-image: linear-gradient(45deg, #53b2fe, #065af3);
}
::ng-deep .customFromToField .mat-form-field {
  width: 150px;
}
.customSwap {
  border: 2px solid #4a4a4a;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  padding: 2px;
}
.customSwapBtn {
  background-color: #ffffff;
  box-shadow: none;
  color: #4a4a4a;
}
.customSwapBtn:focus {
  outline: none;
}
::ng-deep .customFromToFieldMulti .mat-form-field{
  width: 85px;
}
::ng-deep .mat-input-date-multi .mat-form-field {
  width: 85px;
}
::ng-deep .mat-flight-class-multi .mat-form-field{
  width: 85px;
}
.multi-trip-city {
  height: 318px;
  overflow-y: auto;
}
.booking-temp{
  position: absolute !important;
  /* width: 378px; */
  padding: -127px;
  margin-top: 7%;
  margin-left: 1%;
  padding: 8px;
  height: 429px;
}
// .w-30 {
//   margin-top: -88px;
//   width: 30%;
// }
.activeColor {
  background-image: linear-gradient(45deg, #53b2fe, #065af3);
  color: #ffffff !important;
  margin-left: -30px;
  margin-right: -19px;
  padding-left: 40px;
  padding-right: 30px;
  margin-top: -10px;
  height: 45px;
  padding-top: 10px;
}