<mat-card class="main-card">
  <mat-toolbar class="flex justify-around toolbar-title">Sales Report</mat-toolbar>
  <form [formGroup]="SalesreportForm">
<div class="pa3-l" style="height: 58vh;overflow-y: auto;">
  <div class="flex justify-around items-center">
    <div class="flex w-50 justify-around">
      <div class="form-group">
        <label>&nbsp;Bookings</label>
        <select class="form-control" formControlName="bookings" name="Bookings" placeholder="select">
          <option *ngFor="let Booking of Bookings" [value]="Bookings">{{ Booking }}</option>
        </select>
      </div>
    </div>

    
  </div>

  <div class="flex justify-around items-center">
    <div class="flex w-50 justify-around">
      <div class="form-group">
        <label>&nbsp;API/Agent Wise</label>
        <select class="form-control" (change)="onwiseChange($event)" formControlName="apiwise"  >
          <option value="select" >Select</option>

          <option value="api" >API</option>
          <option value="agent">Agent</option>
        </select>
      </div>
    </div>

    <div class="flex w-50 space-around">
      <div class="form-group" > 
          <label>&nbsp;API/Agent List</label>

        <select class="form-control" formControlName="optionsDAta"  >
        
          <option *ngFor="let api of optionsDAta" [value]="options">{{ api }}</option>
        
         
   
      </select>
      </div>
    </div>
    
  </div>

 
  <div class="flex justify-around items-center">
   
    <div class="flex w-50 justify-around">
      <div class="form-group"style="margin-left:-29%" >
        <label>Start Date &nbsp;<span class="label_required">*</span></label><br />
        <mat-form-field>
            
            <input matInput [matDatepicker]="picker1" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
      </div>
    </div>
    <div class="flex w-50 space-around" style="margin-right:-1%">
        <div class="form-group" >
          <label>End Date &nbsp;<span class="label_required">*</span></label><br />
          <mat-form-field>
            
            <input matInput [matDatepicker]="picker2"
                   [formControl]="serializedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
  </div>
  


  <div class="flex btn custom-sbt-div">
    <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag" [class.isDisabled]="!SalesreportForm.valid" [disabled]="!SalesreportForm.valid" >Submit</button>
    <button mat-stroked-button class="sign-out">Cancel</button>
  </div>
  
</div>
</form>
</mat-card>
  


  <mat-form-field class="width: 30%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>

  <div>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Copy</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Excel</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">PDF</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Print</button>
    
  </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="Position">
    <th mat-header-cell *matHeaderCellDef> SI No. </th>
    <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
</ng-container>

<ng-container matColumnDef="Module">
  <th mat-header-cell *matHeaderCellDef> Module </th>
  <td mat-cell *matCellDef="let element"> {{element.Module}} </td>
</ng-container>



<!-- Created Date Column -->
<ng-container matColumnDef="CreateDate">
<th mat-header-cell *matHeaderCellDef> Create Date </th>
<td mat-cell *matCellDef="let element"> {{element.CreateDate}} </td>
</ng-container>

<!-- Booking Reference Column -->
<ng-container matColumnDef="BookingReference">
<th mat-header-cell *matHeaderCellDef> Booking Reference </th>
<td mat-cell *matCellDef="let element"> {{element.BookingReference}} </td>
</ng-container>

<!-- Total Amount Column -->


<!-- Credit Column -->
<ng-container matColumnDef="Currency">
<th mat-header-cell *matHeaderCellDef> Currency </th>
<td mat-cell *matCellDef="let element"> {{element.Currency}} </td>
</ng-container>




<!-- Amount Column -->
<ng-container matColumnDef=Amount>
<th mat-header-cell *matHeaderCellDef> Amount </th>
<td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  