<mat-card class="main-card">
  <mat-toolbar class="flex justify-around toolbar-title">B2B Flight Report</mat-toolbar>

  <form [formGroup]="b2bFlightReportForm" style="background-color: #efebe5;">

    <div class="flex justify-around ">

      <div class="flex w-25 justify-around">
        <div class="form-group" *ngIf="!showAgentOrDistributor">
          <label>Agent Ids<span class="label_required">*</span></label>
          <select class="form-control" formControlName="id" name="id" placeholder="select"
            (ngModelChange)="onAgentOrDistributorSelected($event)">
            <option *ngFor="let obj of agentOrDistributorIds" [value]="obj.agentNo">{{obj.agentNo}}</option>
          </select>
        </div>
      </div>

      <div class="flex w-25 justify-around">
        <div class="form-group">
          <label>Start Date<span class="label_required">*</span></label><br />
          <mat-form-field class="form-control ">

            <input matInput [matDatepicker]="picker" formControlName="startdate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="flex w-25 justify-around ">
        <div class="form-group">
          <label>End Date<span class="label_required">*</span></label><br />
          <mat-form-field class="form-control ">

            <input matInput [matDatepicker]="picker2" formControlName="enddate" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>


    </div>



      <!-- <div class="form-group" *ngIf="showAgentOrDistributor">
          <label>Distributors Ids<span class="label_required">*</span></label>
          <select class="form-control" formControlName="id" name="id" placeholder="select">
              <option *ngFor="let obj of agentOrDistributorIds" [value]="obj.distributorNo">{{obj.distributorNo}}</option>
            </select>
        </div> -->



      <div class="flex btn custom-sbt-div">
        <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag"
          [class.isDisabled]="!b2bFlightReportForm.valid" [disabled]="!b2bFlightReportForm.valid"
          (click)="onFlightMarkupSave() ">Submit</button>
        <button mat-stroked-button class="sign-out" (click)="cancelDistributor()">Cancel</button>
      </div>

      
  </form>
</mat-card>


<!-- 
<mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;  margin-bottom: 3%;    margin-top: 2%;">
    
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" >
</mat-form-field> -->







<!-- <mat-form-field class="width: 30%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="">
  </mat-form-field>
 -->
  
 <div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->

    <!-- Name Column --->
    <ng-container matColumnDef="AgentNo">
      <th mat-header-cell *matHeaderCellDef> AgentNo </th>
      <td mat-cell *matCellDef="let element"> {{element.AgentNo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="RefNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> RefNo </th>
      <td mat-cell *matCellDef="let element"> {{element.RefNo}} </td>
    </ng-container>

    <!-- Symbol Column-->

    <ng-container matColumnDef="PNR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PNR </th>
      <td mat-cell *matCellDef="let element"> {{element.PNR}} </td>
    </ng-container>
    <ng-container matColumnDef="Domestic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Domestic </th>
      <td mat-cell *matCellDef="let element"> {{element.Domestic}} </td>
    </ng-container>

    <ng-container matColumnDef="Destination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
      <td mat-cell *matCellDef="let element"> {{element.Destination}} </td>
    </ng-container>
    <ng-container matColumnDef="Departure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure </th>
      <td mat-cell *matCellDef="let element"> {{element.Departure}} </td>
    </ng-container>







    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element"> {{element.Action}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>