
  <mat-toolbar class="flex justify-around toolbar-title">Pending Bookings</mat-toolbar>
  
 <div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>

  <div>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Copy</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Excel</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">PDF</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Print</button>
    
  </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

   
 <!-- Position Column -->
 <ng-container matColumnDef="Position">
    <th mat-header-cell *matHeaderCellDef> SI No. </th>
    <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
</ng-container>

<!-- BookingId Column -->
<ng-container matColumnDef="BookingId">
<th mat-header-cell *matHeaderCellDef> Booking Id </th>
<td mat-cell *matCellDef="let element"> {{element.BookingId}} </td>
</ng-container>

<ng-container matColumnDef="Name">
<th mat-header-cell *matHeaderCellDef> Name </th>
<td mat-cell *matCellDef="let element"> {{element.Name}} </td>
</ng-container>

<ng-container matColumnDef="CreateDate">
<th mat-header-cell *matHeaderCellDef> Create Date </th>
<td mat-cell *matCellDef="let element"> {{element.CreateDate}} </td>
</ng-container>
<ng-container matColumnDef="TravelDate">
<th mat-header-cell *matHeaderCellDef> Travel Date </th>
<td mat-cell *matCellDef="let element"> {{element.TravelDate}} </td>
</ng-container>
<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef> Status </th>
<td mat-cell *matCellDef="let element"> {{element.Status}} </td>
</ng-container>
<ng-container matColumnDef="Module">
<th mat-header-cell *matHeaderCellDef> Module </th>
<td mat-cell *matCellDef="let element"> {{element.Module}} </td>
</ng-container>
<ng-container matColumnDef="Voucher">
<th mat-header-cell *matHeaderCellDef> Voucher </th>
<td mat-cell *matCellDef="let element"> {{element.Voucher}} </td>
</ng-container>
<ng-container matColumnDef="CustomerId">
<th mat-header-cell *matHeaderCellDef> Customer Id </th>
<td mat-cell *matCellDef="let element"> {{element.CustomerId}} </td>
</ng-container>
<ng-container matColumnDef="NetPrice">
  <th mat-header-cell *matHeaderCellDef> Net Price </th>
  <td mat-cell *matCellDef="let element"> {{element.NetPrice}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  