<!-- <div class="pa3-l">
    <div class="flex w-100 mb3">
        <div class="w-80">
            <mat-card class="ledger">B2B Book Report Manager</mat-card>
        </div>
    </div>
</div>

<div class="flex w-50 space-around">
    <div class="flex w-50">
      <div class="form-group" style="margin-left: 40px; width: 40%;">
      <label>Agent ID &nbsp;<span class="label_required">*</span></label>
      <input type="" class="form-control" placeholder="" formControlName="">
    </div>

  </div>
</div>


<div class="flex justify-around items-center">
    <div class="flex w-50 space-around">
        <div class="flex w-50">
          <div class="form-group" style="margin-left: 40px; width: 40%;">
          <label>Pasenger First Name &nbsp;<span class="label_required">*</span></label>
          <input type="" class="form-control" placeholder="" formControlName="">
        </div>
    
      </div>
    </div>
    
    <div class="flex w-50 space-around">
        <div class="flex w-50">
          <div class="form-group" style="margin-left: 40px; width: 40%;">
          <label>Pasenger Last Name &nbsp;<span class="label_required">*</span></label>
          <input type="" class="form-control" placeholder="" formControlName="">
        </div>
    
      </div>
    </div>
  </div>


  <div class="flex w-50 justify-around">
    <div class="form-group">
      <label>PNR</label>
      <select class="form-control" formControlName="currency" name="currency" placeholder="select">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
  </div>

<mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Date From" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Date To" [formControl]="serializedDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>


<button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Sudmit</button>


<div class="pa3-l">
    <div class="flex w-100 mb3">
        <div class="w-80">
            <mat-card class="ledger">Hotel Booking Report</mat-card>
        </div>
    </div>
</div>


<mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search a user">
</mat-form-field>

<div class="pa3-l">
 <div class="flex w-100">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">



                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>Sl No</th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="agentid">
                    <th mat-header-cell *matHeaderCellDef>Agent ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.agentid}} </td>
                </ng-container>


                <ng-container matColumnDef="bookingdate">
                    <th mat-header-cell *matHeaderCellDef>Booking Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.bookingdate}} </td>
                </ng-container>

                <ng-container matColumnDef="referencedate">
                    <th mat-header-cell *matHeaderCellDef>Reference Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.referencedate}} </td>
                </ng-container>
                <ng-container matColumnDef="api">
                    <th mat-header-cell *matHeaderCellDef>API</th>
                    <td mat-cell *matCellDef="let element"> {{element.api}} </td>
                </ng-container>
                <ng-container matColumnDef="hotelpnr">
                    <th mat-header-cell *matHeaderCellDef>Hotel PNR</th>
                    <td mat-cell *matCellDef="let element"> {{element.hotelpnr}} </td>
                </ng-container>

                <ng-container matColumnDef="hotelname">
                    <th mat-header-cell *matHeaderCellDef>Hotel Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.hotelname}} </td>
                </ng-container>


                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>Address</th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>


                <ng-container matColumnDef="hotelcity">
                    <th mat-header-cell *matHeaderCellDef>Hotel City</th>
                    <td mat-cell *matCellDef="let element"> {{element.hotelcity}} </td>
                </ng-container>
               
                <ng-container matColumnDef="userid">
                    <th mat-header-cell *matHeaderCellDef>User ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
                </ng-container>
                
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef>First Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef>Last Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                </ng-container>

                <ng-container matColumnDef="passangercity">
                    <th mat-header-cell *matHeaderCellDef> Passanger City</th>
                    <td mat-cell *matCellDef="let element"> {{element.passangercity}} </td>
                </ng-container>

               

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef>Country</th>
                    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="emial">
                    <th mat-header-cell *matHeaderCellDef>Emial</th>
                    <td mat-cell *matCellDef="let element"> {{element.emial}} </td>
                </ng-container>

               

                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef>Mobile</th>
                    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                </ng-container>

                <ng-container matColumnDef="checkin">
                    <th mat-header-cell *matHeaderCellDef>Check In</th>
                    <td mat-cell *matCellDef="let element"> {{element.checkin}} </td>
                </ng-container>

                <ng-container matColumnDef="checkout">
                    <th mat-header-cell *matHeaderCellDef>check Out</th>
                    <td mat-cell *matCellDef="let element"> {{element.checkout}} </td>
                </ng-container>

                <ng-container matColumnDef="adult">
                    <th mat-header-cell *matHeaderCellDef>Adult</th>
                    <td mat-cell *matCellDef="let element"> {{element.adult}} </td>
                </ng-container>

                <ng-container matColumnDef="child">
                    <th mat-header-cell *matHeaderCellDef>child</th>
                    <td mat-cell *matCellDef="let element"> {{element.child}} </td>
                </ng-container>


                <ng-container matColumnDef="noofrooms">
                    <th mat-header-cell *matHeaderCellDef>No Of Rooms</th>
                    <td mat-cell *matCellDef="let element"> {{element.noofrooms}} </td>
                </ng-container>


                <ng-container matColumnDef="roomtype">
                    <th mat-header-cell *matHeaderCellDef>Room Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.roomtype}} </td>
                </ng-container>


                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="apihotelrate">
                    <th mat-header-cell *matHeaderCellDef>API Hotel Rate</th>
                    <td mat-cell *matCellDef="let element"> {{element.apihotelrate}} </td>
                </ng-container>

                <ng-container matColumnDef="roeofbookingdetails">
                    <th mat-header-cell *matHeaderCellDef>ROE of booking Details</th>
                    <td mat-cell *matCellDef="let element"> {{element.roeofbookingdetails}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>price</th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>


                <ng-container matColumnDef="adminmarkup">
                    <th mat-header-cell *matHeaderCellDef>Admin Markup</th>
                    <td mat-cell *matCellDef="let element"> {{element.adminmarkup}} </td>
                </ng-container>


                <ng-container matColumnDef="agentmarkup">
                    <th mat-header-cell *matHeaderCellDef>Agent Markup</th>
                    <td mat-cell *matCellDef="let element"> {{element.agentmarkup}} </td>
                </ng-container>
                <ng-container matColumnDef="cgst">
                    <th mat-header-cell *matHeaderCellDef>CGST</th>
                    <td mat-cell *matCellDef="let element"> {{element.cgst}} </td>
                </ng-container>

                <ng-container matColumnDef="sgst">
                    <th mat-header-cell *matHeaderCellDef>SGST</th>
                    <td mat-cell *matCellDef="let element"> {{element.sgst}} </td>
                </ng-container>

                <ng-container matColumnDef="deals">
                    <th mat-header-cell *matHeaderCellDef>Deals</th>
                    <td mat-cell *matCellDef="let element"> {{element.deals}} </td>
                </ng-container>
                <ng-container matColumnDef="totalprice">
                    <th mat-header-cell *matHeaderCellDef>Total Price</th>
                    <td mat-cell *matCellDef="let element"> {{element.totalprice}} </td>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element"> {{element.actions}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
</div>



 -->


 <mat-card class="main-card">
  <mat-toolbar class="flex justify-around toolbar-title">B2B Hotel Report</mat-toolbar>

  <form [formGroup]="b2bHotelReportForm" style="background-color: #efebe5;">

    <div class="flex justify-around ">

      <div class="flex w-25 justify-around">
        <div class="form-group" *ngIf="!showAgentOrDistributor">
          <label>Agent Ids<span class="label_required">*</span></label>
          <select class="form-control" formControlName="id" name="id" placeholder="select"
            (ngModelChange)="onAgentOrDistributorSelected($event)">
            <option *ngFor="let obj of agentOrDistributorIds" [value]="obj.agentNo">{{obj.agentNo}}</option>
          </select>
        </div>
      </div>

      <div class="flex w-25 justify-around">
        <div class="form-group">
          <label>Start Date<span class="label_required">*</span></label><br />
          <mat-form-field class="form-control ">

            <input matInput [matDatepicker]="picker" formControlName="startdate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="flex w-25 justify-around ">
        <div class="form-group">
          <label>End Date<span class="label_required">*</span></label><br />
          <mat-form-field class="form-control ">

            <input matInput [matDatepicker]="picker2" formControlName="enddate" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>


    </div>



      <!-- <div class="form-group" *ngIf="showAgentOrDistributor">
          <label>Distributors Ids<span class="label_required">*</span></label>
          <select class="form-control" formControlName="id" name="id" placeholder="select">
              <option *ngFor="let obj of agentOrDistributorIds" [value]="obj.distributorNo">{{obj.distributorNo}}</option>
            </select>
        </div> -->



      <div class="flex btn custom-sbt-div">
        <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag"
          [class.isDisabled]="!b2bHotelReportForm.valid" [disabled]="!b2bHotelReportForm.valid">Submit</button>
        <button mat-stroked-button class="sign-out" (click)="cancelDistributor()">Cancel</button>
      </div>

  </form>
</mat-card>


<!-- 
<mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;  margin-bottom: 3%;    margin-top: 2%;">
    
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" >
</mat-form-field> -->







<!-- <mat-form-field class="width: 30%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="">
  </mat-form-field>
 -->
  
 <div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>



<!-- Created Date Column -->
<ng-container matColumnDef="API">
<th mat-header-cell *matHeaderCellDef mat-sort-header> API </th>
<td mat-cell *matCellDef="let element"> {{element.API}} </td>
</ng-container>
<!-- Status Column -->
<ng-container matColumnDef="HotelPNR">
<th mat-header-cell *matHeaderCellDef mat-sort-header> HotelPNR </th>
<td mat-cell *matCellDef="let element"> {{element.HotelPNR}} </td>
</ng-container>
<!-- Trvael Date-
<ng-container matColumnDef="TravelDate ">
<th mat-header-cell *matHeaderCellDef> TravelDate </th>
<td mat-cell *matCellDef="let element"> {{element.TravelDate }} </td>
</ng-container>
-->


<ng-container matColumnDef="Noofrooms">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Noofrooms</th>
<td mat-cell *matCellDef="let element"> {{element.Noofrooms}} </td>
</ng-container>

<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
<td mat-cell *matCellDef="let element"> {{element.Status}} </td>
</ng-container>


<ng-container matColumnDef="AdminMarkup">
<th mat-header-cell *matHeaderCellDef mat-sort-header> AdminMarkup</th>
<td mat-cell *matCellDef="let element"> {{element.AdminMarkup}} </td>
</ng-container>


<ng-container matColumnDef="TotalPrice">
<th mat-header-cell *matHeaderCellDef mat-sort-header> TotalPrice</th>
<td mat-cell *matCellDef="let element"> {{element.TotalPrice}} </td>
</ng-container>

<ng-container matColumnDef="Action">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
<td mat-cell *matCellDef="let element"> {{element.Action}} </td>
</ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  