<div class="flex justify-end">
  <div (click)="loginDialogClose()"><i class="material-icons close-icon pointer">close</i>
</div>
</div>
<!-- <div style="text-align: -webkit-center;"><button style="background-color: sandybrown;border-radius: 25px;">PERSONAL ACCOUNT</button>&nbsp;&nbsp;<button style="background-color: pink;border-radius: 25px;">TRIPEE ACCOUNT</button></div> -->
<div>
  <a class="button"  (click)="onPersonalAccount()">PERSONAL ACCOUNT</a>
  <a class="button" routerLink="/agentaccount" (click)="loginDialogClose()" >TRIPEE ACCOUNT</a></div>
<div class="flex justify-between pa3-l login-main">
  <div class="f3 fw9 login-title">Login</div>
  <div>or <span class="fw9 create-account-link pointer" (click)="openSignupDialog()">Create New Account</span></div>
</div>


<form class="pa3-l"  [formGroup]="loginForm">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email"  formControlName="email" class="form-control login-input" placeholder="Enter email" id="email">
  </div>
  <div class="form-group" >
    <label for="pwd">Password:</label>
    <input type="password"  formControlName="password" class="form-control login-input" placeholder="Enter password" id="pwd">
  </div>
  <a routerLink="/resetpassword"  class="nohover"(click)="loginDialogClose()">Reset Password</a>
  <!-- <a  style="margin-left: 190px;"routerLink="/verifyuseraccount" (click)="loginDialogClose()" class="nohover">Verify Your Account</a> -->
  <button class="btn btn-primary w-100" (click)='onlogin()'>Continue</button>
</form>


<!-- 
<div class="flex pa3-l justify-center" *ngIf="!showFormFields">
  <div class="f7 login-with">OR LOGIN WITH</div>
</div>
<div class="flex pa3-l justify-between" *ngIf="!showFormFields">
  <div class="w-50">
    <button class="btn btn-primary w-100 mr1 pa3-l pl0 login-fb"><img class="w-10 mr2" src="../../assets/images/images/fb.png">Login with Facebook</button>
  </div>
  <div class="w-50">
    <button class="btn btn-primary w-100 ml1 login-google" (click)="onGoogleLogin()"><img class="w-10 mr2" src="../../assets/images/images/google.png">Login with Google</button>
  </div>
</div> -->
