::ng-deep .login-container .mat-dialog-container{
  height: 351px;
  margin-top: -20px;
  width: 458px;
  border-radius: 5px;
}
.login-title {
  color: #4a4a4a;
}
.login-main {
  line-height: 26px;
}
.create-account-link {
  color:#008cff;
}
.login-input:focus {
  border: none;
}
.login-with {
  color: #9b9b9b;
}
.login-fb {
  background-color: #3b589a;
}
.login-google {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #4a4a4a!important;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.login-google:active {
  background-color: #ffffff!important;
  border-color: #ffffff!important;
  color: #4a4a4a!important;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.close-icon {
  margin-block-end: -27px; 
   // margin-top: -18px;
    color: #4a4a4a;
    border: solid 1px;
    border-radius: 10px;
    border: -3px solid #4a4a4a;
    border-radius: -12px;
    margin-right: -18px;
   // margin-top: -32px;
}

.justify-end {
  justify-content: flex-end;
  margin-top: -21px;
  margin-bottom: -21px;
}

.button {
  background-color: #4CAF50;
  margin-left: 14px;
  border: none;
  color: white;
  padding: 1px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 0px;
}
a:hover {
  background-color: rgb(2, 71, 39);
}


