.customSearchResultsDiv {
  padding-top: 5%;
}

/* ---------------------------- Header starts here ------------------------------------ */

.col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 20.666667%;
}
// .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//   border-color: #007bff;
// }
mat-label{
  font-size: 1rem;
}
#pricebal{
  
font-size: 1rem;
font-weight: bold;
margin-top: 21px;

}
#priceb{
  font-size: 1rem;
  font-weight: inherit;
  margin-top: 21px;
}

.top_nav_item {
  color: #fff;
  line-height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0 10px;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}
.menu_item {
  color: #636363;
  margin: 0 10px;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  height: 68px;
  line-height: 68px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.title_wrapper {
  display: flex;
  justify-content: space-between;
}
.page_title {
  background: #ffffff;
  color: whitesmoke;
}
.heading {
  line-height: 56px;
  margin: 0;
  font-size: 20px;
}
.sub_text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 56px;
  margin: 0;
}
p {
  margin: 0;
}

.sub_text > p > span {
  padding-left: 4px;
}
/* ---------------------------- Header ends here ------------------------------------ */

/* ---------------------------- filters starts here ------------------------------------ */
::ng-deep .mat-expansion-indicator::after {
  content: "+" !important;
  color: white;
  font-size: 13px;
 // background: #ef4b5a;
  padding: 0px 5px !important;
  border-radius: 25px;
  font-weight: bolder;
  border-style: solid;
  border-width: 0 !important;
  display: inline-block;
  transform: rotate(0deg) !important;
  vertical-align: middle !important;
}

.mat-expansion-panel {
  margin: 6px 0px;
  box-shadow: none;
  background-color: #d4cec1;
  border-radius: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.mat-expansion-panel:hover {
  background: #fafafa !important;
}

.sort_by_section {
  display: flex;
  justify-content: space-between;
  background: white;
  line-height: 60px;
  padding: 0px 23px;
}
.sort_options {
  max-width: 100px;
}

// ::ng-deep .mat-form-field-infix {
//   border-top: 0px !important;
//   padding: 0px !important;
// }
// .select {
//   padding: 0 !important;
//   top: 0 !important;
// }

// ::ng-deep .mat-form-field-wrapper {
//   position: unset !important;
//   padding-bottom: 0px !important;
// }

::ng-deep .mat-expansion-panel-body {
  padding: 0px 24px 16px !important;
}
.sort_radio_buttons {
  padding-right: 10px;
}



// ::ng-deep .ng5-slider .ng5-slider-bar-wrapper{
//   height: 20px !important;
// }
::ng-deep .ng5-slider .ng5-slider-bar {
  height: 10px !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  height: 18px !important;
  width: 18px !important;
  top: -4px !important;
  background-color: #2d3e52 !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer:after {
  display: none !important;
}

::ng-deep .timeSlider .ng5-slider-selection {
  z-index: 2;
  background: orange !important;
  border-radius: 2px;
}
.checkbox_section {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
}
.checkbox_item {
 // background-color:blue;
  margin: 0.5px;
  padding: 5px 5px 5px 13px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
   background-color:white; 
}
.mat-checkbox-checked {
  //background-color: #0db1ff;
 // color: blue;
}
::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #d2d2d2 !important;
}

/* ---------------------------- Filters end here ------------------------------------ */

/* ---------------------------- Flight card starts here ------------------------------------ */

// .mat-card-image {
//   margin: 0;
//   margin-top: 0 !important;
//   height: 130px;
//   background-color: #dadada;
//   border-top-left-radius: 0 !important;
//   border-top-right-radius: 0 !important;
// }
// .search_result_card_wrapper {
//   margin-top: 25px;
//   margin-bottom: 25px;
// }
// .flight_card {
//   margin: 25px 0px;
// }

// .price_section {
//   margin-top: 3px;
// }
// ._from_ {
//   font-size: 16px;
// }
// ._way_ {
//   font-size: 10px;
//   color: #c4c4c4;
// }

// ._cost_title_ {
//   font-size: 12px;
// }

// ._cost_per {
//   color: #7db921;
//   font-size: 16px;
//   font-weight: 600;
// }

// .timings_title {
//   color: #0db1ff;
//   text-transform: uppercase;
// }

// .flight_timings {
//   display: flex;
//   font-size: 10px;
// }

// .landing_date,
// .landing_time {
//   color: gray;
// }
// .flight_img {
//   color: orange;
//   font-size: 20px;
//   margin-right: 2px;
// }

// .flight_timings {
//   border-right: 1px solid #efeeee;
//   border-top: 1px solid #efeeee;
//   border-bottom: 1px solid #efeeee;
//   padding-top: 10px;
//   padding-bottom: 10px;
// }

// .travel_time_section {
//   text-transform: uppercase;
//   font-size: 12px;
//   display: flex;
//   justify-content: center;
//   padding: 5px;
// }
// .time_sub {
//   color: #0db1ff;
// }
// .travel_time {
//   color: gray;
//   padding-left: 3px;
// }

// .flight_card > .mat-card-content {
//   margin-bottom: 0;
// }
// .mat-card-actions {
//   padding: 0px;
// }

// //modufy search

// .flex-container {
//   width: 1280px;
//   max-width: 100%;
//   line-height: 23px;
//   color: white;
// }
// .al-result {
//   background: #333;
//   padding: 8px;
//   margin-left: 5%;
//   position: sticky;
//   top: 0;
//   position: -webkit-sticky;
//   z-index: 4;
//   line-height: 23px;
//   width: 1125px;
// }
// .city{
//   margin: 0px 5px 5px 15px;
// }


// //End modufy search

// //card

// mat-grid-tile {
//   background: rgb(255, 255, 255);
//   color: grayscale($color: #2c2b2b);
// }


// /// card end


// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
//   color: #fff
// }

// ::ng-deep .mat-select-arrow {
//   color: #fff;
// }

// ::ng-deep .mat-expansion-panel-header-description {
//   flex-grow: 0!important;
// }

// .mat-form-field {
//   font-size: inherit;
//   font-weight: 400;
//   line-height: 2.125;
//   font-family: Roboto,"Helvetica Neue",sans-serif;
// }


// latest css

.mat-expansion-panel-header {
  height: 25px !important;
}

.modify-main-div {
  background-color: #ffffff;
  margin: 1% 1% 1% 1%;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  width: 98% !important;
}

::ng-deep .mat-form-field-label-wrapper {
  font-size: 12px;
  margin-top: 5px;
}

::ng-deep .mat-select-value-text {
  color: #484848;
  font-size: 14px;
}

::ng-deep input.mat-input-element {
  font-size: 14px;
  color: #484848;
}

::ng-deep .mat-tab-label-active {
 // color: #ef4b5a;
 }
 ::ng-deep .mat-tab-label {
  padding: 5px!important;
  min-width: 0px!important;
}
::ng-deep .mat-tab-labels {
  line-height: 1.2;
}
 ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
 //  background-color: #ef4b5a;
 }

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
 // color: #ef4b5a;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
 // background-color: #ef4b5a;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  //color: #ef4b5a;
}

::ng-deep .mat-datepicker-toggle-active {
  //color: #ef4b5a;
}

::ng-deep .mat-input-count .mat-form-field {
  width: 115px;
}

::ng-deep .mat-input-date .mat-form-field {
  width: 180px;
}

.custom-menu-icon {
  font-size: 20px;
  margin-top: -3px;
  margin-left: 7px;
}

.custom-menu-btn {
  background-color: #d4cec1;;
}

.custom-menu-btn:focus {
  outline: none!important;
}

::ng-deep .passenger-mat-menu-panel {
  min-width: 350px!important;
  max-width: 400px!important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  margin-top: 2px!important;
  min-height: 145px!important;
  background-color: #e9e2d3;
}

.adult-child {
  width: 90px;
}

.cabin-airline {
  width: 120px;
}

::ng-deep button:focus {
  outline: none;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.custom-search-results-card {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 5px 5px 0px 0px;
}
.checkbox_wrapper{
  background-color:#007bff;
}
.mat-raised-button {
  width: 100%;
  border-radius: 3px;
  background-color:#007bff;
 // background-color: #ef4b5a;
  color: white;
  font-size: 12px;
  padding: 4px 17px;
  line-height: 28px;
}
.flight_select_button {
  width: 100%;
    border-radius: 3px;
    background-color:#007bff;
   // background-color: #ef4b5a;
    color: white;
    font-size: 12px;
    padding: 4px 17px;
    line-height: 28px;
}
.mr5 {
  margin-right: 3rem;
}
.custom-light-gray {
  color: #000000;
  margin: 1px;
}

::ng-deep .custom-light-gray .mat-radio-container {
  width: 14px;
  height: 14px;
}

::ng-deep .custom-light-gray .mat-radio-container .mat-radio-outer-circle {
  width: 14px;
  height: 14px;
}

::ng-deep .custom-light-gray .mat-radio-container .mat-radio-inner-circle {
  width: 14px;
  height: 14px;
}

::ng-deep .custom-light-gray .mat-radio-label {
  font-size: 12px;
}
