<div class="flex w-100 pl3 pr3 items-center customSearchResultsDiv">
</div>
<div>
  <div class="flex w-100 items-center justify-around modify-main-div">
    <div styel="  width: 14%;">
      <mat-form-field class="aircity">
        <mat-label>From city</mat-label>
        <mat-select [(ngModel)]="origin">
          <mat-option *ngFor="let city of originDestinations" [value]="city.AirportCode">
            {{city.AirportName}} ({{city.AirportCode}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div styel="  width: 14%;">
      <mat-form-field class="aircity">
        <mat-label>To city</mat-label>
        <mat-select [(ngModel)]="destination">
          <mat-option *ngFor="let city of originDestinations" [value]="city.AirportCode">
            {{city.AirportName}} ({{city.AirportCode}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="aircity">
        <mat-label>Depart On</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="departDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="aircity">
        <mat-label>Return On</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="returnDate" [disabled]="currentlyDisabled">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="passenger-class-main-div">
      <button class="custom-menu-btn" mat-button [matMenuTriggerFor]="menu">Passengers & Class
        <i class="fa fa-angle-down custom-menu-icon" aria-hidden="true"></i>
      </button>
      <mat-menu #menu="matMenu" xPosition="before" class="passenger-mat-menu-panel">
        <div class="flex items-center justify-around">
          <div>
            <mat-form-field class="example-full-width adult-child">
              <mat-label>Adults</mat-label>
              <input type="number" matInput placeholder="Adults" min="0" value="0" [(ngModel)]="Adults">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width adult-child">
              <mat-label>Childs(3-10)</mat-label>
              <input type="number" matInput placeholder="Childs" min="0" value="0" [(ngModel)]="Childs">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width adult-child">
              <mat-label>Infants(0-2)</mat-label>
              <input type="number" matInput placeholder="Infants" min="0" value="0" [(ngModel)]="Infants">
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-around items-center">
          <div class="flex w-50 justify-around">
            <mat-form-field class="cabin-airline">
              <mat-label>Class</mat-label>
              <mat-select [(ngModel)]="cabinClass">
                <mat-option *ngFor="let class of flightClass" [value]="class.value">
                  {{class.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex w-50 space-around">
            <mat-form-field class="cabin-airline">
              <mat-label>Airline Type</mat-label>
              <mat-select [(ngModel)]="AirlineType">
                <mat-option *ngFor="let airline of airlineType" [value]="airline.value">
                  {{airline.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-menu>
    </div>
    <div>
      <button mat-raised-button style="background-color:#007bff;;color: white;"
        (click)="openSearchDialog()">Modify</button>
    </div>
  </div>
</div>

<div class="flex items-center w-100" style="height: 800px; background-color: #efebe5;">
  <div class="flex justify-around w-20 filter" style="height: 650px;margin-bottom: 88px;">
    <mat-accordion>
      <mat-card>
        <mat-card-header>
          <mat-panel-title>
            Price
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-card-header>
        <ng5-slider [(value)]="value" [(highValue)]="maxValue" [options]="options"
          (userChangeEnd)="onUserChangeEnd($event)"></ng5-slider>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-panel-title>
            Flight Times
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-card-header>
        <ng5-slider class="timeSlider" [(value)]="minTime" [(highValue)]="maxTime" [options]="timeOptions"
          (userChangeEnd)="onTimeChangeEnd($event)"></ng5-slider>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-panel-title>
            Flight Stops

          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-card-header>
        <section class="stops_check_section checkbox_section">
          <mat-checkbox class="checkbox_item" (change)="stopCheck('zero', stop0)" [(ngModel)]="stop0">
            0 STOP</mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('one', stop1)" [(ngModel)]="stop1">1
            STOP</mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('two', stop2)" [(ngModel)]="stop2">2
            STOPs</mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('three', stop3)" [(ngModel)]="stop3">3 STOPs
          </mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('four', stop4)" [(ngModel)]="stop4">
            Multistops</mat-checkbox>
        </section>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-panel-title>
            Airlines

          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-card-header>
        <section class="stops_check_section checkbox_section">
          <mat-checkbox class="checkbox_item" (change)="stopCheck('zero', stop0)">
            SpiceJet</mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('one', stop1)">
            IndiGo</mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('two', stop2)">
            Vistara</mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('three', stop3)">Gulf Air
          </mat-checkbox>
          <mat-checkbox class="checkbox_item" (change)="stopCheck('four', stop4)">
            Srilankan Airlines</mat-checkbox>
        </section>
      </mat-card>
    </mat-accordion>
  </div>

  <div class="flex flex-column w-80" style="height: 740px;overflow: auto;">
    <!-- One way search starts here -->
    <div *ngIf="!showMulticity && notRoundTrip && !specialTrip">
      <div *ngFor="let obj of resultsArr orderBy:'obj.-totalPriceList[0].fd.ADULT.fC.TF' ">
        <mat-card style="padding: 0px 10px 0px 10px;" class="mr4 custom-search-results-card">
          <div class="flex items-center">
            <div class="w-80">
              <div class="flex items-center">
                <div class="mr3 airlogo">
                  <img *ngIf="obj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
                  <img *ngIf="obj.sI[0].fD.aI.name=== 'Vistara'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4" alt="vistara">
                  <img *ngIf="obj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                    src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                  <img *ngIf="obj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">
                </div>
                <div class="mr6 airname">
                  <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.sI[0].fD.aI.name}}</div>
                  <div style="text-align: center;font-size: 14px;color: #878787;">{{obj.sI[0].fD.aI.code}}
                    {{obj.sI[0].fD.aI.fN}}
                  </div>
                </div>
                <div class="mr5 airtimin">
                  <div class="fw6 text-center f4 custom-light-gray">{{obj.sI[0].dt | date:'hh:mm'}}</div>

                  <!-- <div class="fw6 text-center f4 custom-light-gray">{{obj.departureTime | date:'hh:mm'}}</div> -->
                  <div class="fw6 text-center f6 custom-light-gray">{{obj.sI[0].dt | date:'d/MM/yyyy'}}</div>
                  <div class="text-center f6" style="color: #000000">{{obj.sI[0].da.city}}</div>
                </div>
                <div class="mr5 airremain">
                  <div class=" custom-light-gray">{{obj.remainingTime}}</div>
                  <hr style="margin-block-start: 0em; margin-block-end: 0em">
                </div>
                <div class="mr5 airtimreturn">
                  <div class="fw6 text-center f4 custom-light-gray">{{obj.sI[0].at | date:'hh:mm'}}</div>
                  <div class="fw6 text-center f6 custom-light-gray">{{obj.sI[0].at | date:'d/MM/yyyy'}}</div>
                  <div class="text-center f6" style="color: #000000">{{obj.sI[0].aa.city}}</div>
                </div>
                <div class="mr5 airtotal">
                  <div class="fw6" style="height: 65px; overflow-y:auto;width: 85px;min-width: 85px;">
                    <!-- <label id="example-radio-group-label" class=" custom-light-gray">Select Price</label> -->
                    <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      (change)="onPriceSelectedChange($event)">
                      <mat-radio-button class=" custom-light-gray"> -->
                    <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" >
                          <mat-radio-button class="example-radio-button  custom-light-gray"(change)="onPriceSelectedChange($event)">
                         
                           ₹ {{math.ceil(obj.totalPriceList[0].fd.ADULT.fC.TF)}}
                          </mat-radio-button>
                        </mat-radio-group> -->
                    <h6 id="pricebal">₹ {{obj.totalPriceList[0].fd.ADULT.fC.TF}}</h6>
                    <!-- </mat-radio-button>
                    </mat-radio-group> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="w-20">
              <div>

                <button class="flight_select_button" mat-button (click)="onFlightSelect(obj)">Book</button>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card class="mb2 mr4" style="top: -6px; padding: 0px">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description>
                  Flight Details
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-tab-group (selectedTabChange)="onResultMatTabSelected($event, obj.FareId)">
                <mat-tab label="Flight Informations">
                  <div class="flex flex-column mt3">
                    <div class="mb2">
                      The baggage information is just for reference. Please Check with airline before check-in. For more
                      information, visit the airline's official website.
                    </div>
                    <div class="flex">
                      <div class="mr3">
                        <img *ngIf="obj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
                          src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
                        <img *ngIf="obj.sI[0].fD.aI.name=== 'Vistara'" style="width:50px; height: 50px"
                          src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4" alt="vistara">
                        <img *ngIf="obj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                          src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                        <img *ngIf="obj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                          src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">

                      </div>
                      <div class="mr6">
                        <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].fD.aI.name}},
                          {{obj.sI[0].fD.aI.code}}</div>
                        <div style="text-align: center;font-size: 14px;color: #878787;">Operated by
                          {{obj.sI[0].fD.aI.name}}
                        </div>
                      </div>
                    </div>
                    <div class="flex justify-around">
                      <div class="flex flex-column">
                        <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].da.city}}</div>
                        <!-- , {{obj.sI[0].da.code}} -->
                        <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.departureCity}}</div> -->
                      </div>
                      <div class="flex flex-column">
                        <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].aa.city}}</div>
                        <!-- , {{obj.sI[0].aa.code}} -->
                        <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.arrivalCity}}</div> -->
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <!-- <mat-tab label="Fair Rules">
                  <div *ngIf="fareInfoStatus">Fare info not available</div>
                  <div *ngIf="fareInfoData">
                    {{totalFareRuleObj.cB.ADT}}
                    {{totalFareRuleObj.cB.CNN}}
                    {{totalFareRuleObj.cB.INF}}
                  </div>
                </mat-tab> -->
              </mat-tab-group>

            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </div>
    </div>
    <!-- One way search ends here -->

    <!-- Multi city search starts here -->



    <div class="search_result_card_wrapper" *ngIf="showMulticity && notRoundTrip && !specialTrip">
      <div class="col-lg-12">
        <mat-tab-group>
          <mat-tab *ngFor="let obj of resultsArr">
            <ng-template mat-tab-label>
              <!-- {{Flights[0].sI[0].da.city}} ➞ {{Flights[0].sI[0].aa.city}}<br>
           {{Flights[0].sI[0].dt.slice(0,10)}} -->
              <div class="flex flex-column">
                <div>{{obj.routeCities}}</div>
                <div>{{obj.routeDate}}</div>
              </div>
            </ng-template>
            <!-- <div class="col-md-12 col-lg-12" *ngFor="let obj of Flights"> -->
            <div class="col-md-12 col-lg-12">
              <mat-card style="padding: 10" class="mr4 custom-search-results-card">
                <div class="flex items-center">
                  <div class="mr3">
                    <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'Indigo'" style="width:50px; height: 50px" -->
                    <img *ngIf="obj.sI[0].fD.aI.name === 'Indigo'" style="width:50px; height: 50px"
                      src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
                    <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px" -->
                    <img *ngIf="obj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
                      src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
                    <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'Vistara'" style="width:50px; height: 50px" -->
                    <img *ngIf="obj.sI[0].fD.aI.name === 'Vistara'" style="width:50px; height: 50px"
                      src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4" alt="vistara">
                    <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px" -->
                    <img *ngIf="obj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                      src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                    <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'HahnAir'" style="width:50px; height: 50px" -->
                    <img *ngIf="obj.sI[0].fD.aI.name === 'HahnAir'" style="width:50px; height: 50px"
                      src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                    <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'Spice Jet'" style="width:50px; height: 50px" -->
                    <img *ngIf="obj.sI[0].fD.aI.name === 'Spice Jet'" style="width:50px; height: 50px"
                      src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">
                    <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px" -->
                    <img *ngIf="obj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                      src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">

                  </div>
                  <div class="mr6">
                    <!-- <div style="text-align: center;font-size: 14px;color: #4a4a4a;">{{obj.sI[0].fD.aI.name}}</div>
                 <div style="text-align: center;font-size: 14px;color: #878787;">{{obj.sI[0].fD.aI.code}}</div> -->
                    <div style="text-align: center;font-size: 14px;color: #4a4a4a;">{{obj.sI[0].fD.aI.name}}</div>
                    <div style="text-align: center;font-size: 14px;color: #878787;">{{obj.sI[0].fD.aI.code}}</div>
                  </div>
                  <div class="mr5">
                    <!-- <div class="fw6 text-center f4 custom-light-gray">{{obj.sI[0].dt | date:'hh:mm'}}</div>
                 <div class="fw6 text-center f6 custom-light-gray">{{obj.sI[0].dt | date:'d/MM/yyyy'}}</div>
                 <div class="text-center f6" style="color: #000000">{{obj.sI[0].da.city}}</div> -->
                    <div class="fw6 text-center f4 custom-light-gray">{{obj.sI[0].dt | date:'hh:mm'}}</div>
                    <div class="fw6 text-center f6 custom-light-gray">{{obj.sI[0].dt | date:'d/MM/yyyy'}}</div>
                    <div class="text-center f6" style="color: #000000">{{obj.sI[0].da.city}}</div>
                  </div>
                  <div class="mr5">
                    <div class=" custom-light-gray">{{obj.remainingTime}}</div>
                    <hr style="margin-block-start: 0em; margin-block-end: 0em">
                  </div>
                  <div class="mr5">
                    <!-- <div class="fw6 text-center f4 custom-light-gray">{{obj.sI[0].at | date:'hh:mm'}}</div>
                 <div class="fw6 text-center f6 custom-light-gray">{{obj.sI[0].at | date:'d/MM/yyyy'}}</div>
                 <div class="text-center f6" style="color: #000000">{{obj.sI[0].aa.city}}</div> -->
                    <div class="fw6 text-center f4 custom-light-gray">{{obj.sI[0].at | date:'hh:mm'}}</div>
                    <div class="fw6 text-center f6 custom-light-gray">{{obj.sI[0].at | date:'d/MM/yyyy'}}</div>
                    <div class="text-center f6" style="color: #000000">{{obj.sI[0].aa.city}}</div>
                  </div>
                  <div class="mr5 airtotal">
                    <div class="fw6" style="height: 65px; overflow-y:auto;width: 85px;min-width: 85px;">
                      <!-- <label id="example-radio-group-label" class=" custom-light-gray">Select Price</label> -->
                      <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        (change)="onPriceSelectedChange($event)">
                        <mat-radio-button class=" custom-light-gray"> -->
                      <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" >
                            <mat-radio-button class="example-radio-button  custom-light-gray"(change)="onPriceSelectedChange($event)">
                           
                             ₹ {{math.ceil(obj.totalPriceList[0].fd.ADULT.fC.TF)}}
                            </mat-radio-button>
                          </mat-radio-group> -->
                      <h6 id="pricebal">₹ {{obj.totalPriceList[0].fd.ADULT.fC.TF}}</h6>
                      <!-- </mat-radio-button>
                      </mat-radio-group> -->
                    </div>
                  </div>
                  <div>
                    <button class="flight_select_button" mat-button (click)="onFlightSelect(obj)">Book</button>
                  </div>
                </div>
              </mat-card>
              <mat-card class="mb2 mr4" style="top: -6px; padding: 0px">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>

                      </mat-panel-title>
                      <mat-panel-description>
                        Flight Details
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-tab-group>
                      <mat-tab label="Flight Informations">
                        <div class="flex flex-column mt3">
                          <div class="mb2">
                            The baggage information is just for reference. Please Check with airline before check-in.
                            For more information, visit the airline's official website.
                          </div>
                          <div class="flex">
                            <div class="mr3">
                              <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'Indigo'" style="width:50px; height: 50px" -->
                              <img *ngIf="obj.sI[0].fD.aI.name === 'Indigo'" style="width:50px; height: 50px"
                                src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4"
                                alt="indigo">
                              <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'Vistara'" style="width:50px; height: 50px" -->
                              <img *ngIf="obj.sI[0].fD.aI.name === 'Vistara'" style="width:50px; height: 50px"
                                src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4"
                                alt="vistara">
                              <!-- <img *ngIf="obj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px" -->
                              <img *ngIf="obj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                                src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                              <img *ngIf="obj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                                src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4">

                            </div>
                            <div class="mr6">
                              <!-- <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].fD.aI.name}},
                             {{obj.sI[0].fD.aI.code}}</div> -->
                              <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].fD.aI.name}},
                                {{obj.sI[0].fD.aI.code}}</div>
                              <div style="text-align: center;font-size: 14px;color: #878787;">Operated by
                                <!-- {{obj.sI[0].fD.aI.name}} -->
                              </div>
                              {{obj.sI[0].fD.aI.name}}
                            </div>
                          </div>
                        </div>
                        <div class="flex justify-around">
                          <div class="flex flex-column">
                            <!-- <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].da.city}} -->
                            <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].da.city}}
                            </div> <!-- , {{obj.sI[0].da.code}} -->
                            <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.sI[0].da.city}} -->
                            <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.sI[0].da.city}}
                            </div>
                          </div>
                          <div class="flex flex-column">
                            <!-- <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].aa.city}} -->
                            <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{obj.sI[0].aa.city}}
                            </div> <!-- , {{obj.sI[0].aa.code}} -->
                            <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.sI[0].aa.city}} -->
                            <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.sI[0].aa.city}}
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab label="Fair Rules"> Fair Rules </mat-tab>
                    </mat-tab-group>

                  </mat-expansion-panel>
                </mat-accordion>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>






    <!-- Multi city search ends here -->

    <!-- Round trip search starts here -->
    <div class="search_result_card_wrapper" *ngIf="roundTrip && !notRoundTrip && !specialTrip" style="overflow: auto;">
      <div class="flex">
        <div class="flex flex-column">
          <div *ngFor="let leftobj of towardsTripJackObj  orderBy:'-totalPriceList[0].fd.ADULT.fC.TF' ">
            <mat-card class="mr2 custom-search-results-card" style="padding: 4px!important">
              <div class="flex items-center">
                <div class="mr3">
                  <img *ngIf="leftobj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
                  <img *ngIf="leftobj.sI[0].fD.aI.name=== 'Vistara'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4" alt="vistara">
                  <img *ngIf="leftobj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                    src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                  <img *ngIf="leftobj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">
                </div>
                <div class="mr3">
                  <div style="text-align: center;font-size: 12px;color: #4a4a4a;">{{leftobj.sI[0].fD.aI.name}}</div>
                  <div style="text-align: center;font-size: 12px;color: #878787;">{{leftobj.sI[0].fD.aI.code}}
                    {{leftobj.sI[0].fD.aI.fN}}</div>
                </div>
                <div class="mr3">
                  <div class="fw6 text-center f4 custom-light-gray">{{leftobj.sI[0].dt | date:'hh:mm'}}</div>

                  <!-- <div class="fw6 text-center f4 custom-light-gray">{{obj.departureTime | date:'hh:mm'}}</div> -->
                  <div class="fw6 text-center f6 custom-light-gray">{{leftobj.sI[0].dt | date:'d/MM/yyyy'}}</div>
                  <div class="text-center f6" style="color: #000000">{{leftobj.sI[0].da.city}}</div>
                </div>
                <div class="mr2">
                  <div class=" custom-light-gray" style="font-size: 12px">{{leftobj.remainingTime}}</div>
                  <hr style="margin-block-start: 0em; margin-block-end: 0em">
                </div>
                <div class="mr2">
                  <div class="fw6 text-center f4 custom-light-gray">{{leftobj.sI[0].at | date:'hh:mm'}}</div>
                  <div class="fw6 text-center f6 custom-light-gray">{{leftobj.sI[0].at | date:'d/MM/yyyy'}}</div>
                  <div class="text-center f6" style="color: #000000">{{leftobj.sI[0].aa.city}}</div>
                </div>
                <div class="mr2">
                  <div class="flex space-around">
                    <!-- <label id="example-radio-group-label" class=" custom-light-gray">Select Price</label> -->
                    <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      (change)="onPriceSelectedChange($event)">
                      <mat-radio-button class=" custom-light-gray"> -->
                    <h6 id="pricebal">₹{{leftobj.totalPriceList[0].fd.ADULT.fC.TF}}</h6>
                    <!-- </mat-radio-button>
                    </mat-radio-group> -->
                  </div>
                </div>
                <div class="fw6 flex justify-around">
                  <!-- <mat-checkbox (click)="openBottomSheet()"> </mat-checkbox>  -->
                  <!-- <input type="checkbox" name="" id=""  (click)="openBottomSheet()"> -->
                  <!-- <button class="flight_select_button" mat-button (click)="onFlightSelect(obj)">Select</button> -->
                  <!-- <input type="checkbox" mat-raised-button (click)="openBottomSheet()"> -->
                  <button mat-raised-button (click)="onLeftFlightSelect(leftobj)">select</button>

                </div>
              </div>
            </mat-card>
            <mat-card class="mb2 mr2" style="top: -6px; padding: 0px">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>

                    </mat-panel-title>
                    <mat-panel-description>
                      Flight Details
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-tab-group>
                    <mat-tab label="Flight Informations">
                      <div class="flex flex-column mt3">
                        <div class="mb2">
                          The baggage information is just for reference. Please Check with airline before check-in.
                          For more information, visit the airline's official website.
                        </div>
                        <div class="flex">
                          <div class="mr3">
                            <img *ngIf="leftobj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
                              src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4"
                              alt="indigo">
                            <img *ngIf="leftobj.sI[0].fD.aI.name=== 'Vistara'" style="width:50px; height: 50px"
                              src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4"
                              alt="vistara">
                            <img *ngIf="leftobj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                              src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                            <img *ngIf="leftobj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                              src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4"
                              alt="spicejet">

                          </div>
                          <div class="mr6">
                            <div style="text-align: center;font-size: 16px;color: #4a4a4a;">
                              {{leftobj.sI[0].fD.aI.name}},
                              {{leftobj.sI[0].fD.aI.code}}</div>
                            <div style="text-align: center;font-size: 14px;color: #878787;">Operated by
                              {{leftobj.sI[0].fD.aI.name}}</div>
                          </div>
                        </div>
                        <div class="flex justify-around">
                          <div class="flex flex-column">
                            <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{leftobj.sI[0].da.city}}
                            </div> <!-- , {{obj.sI[0].da.code}} -->
                            <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.departureCity}} -->
                          </div>
                        </div>
                        <div class="flex justify-around">
                          <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{leftobj.sI[0].aa.city}}
                          </div> <!-- , {{obj.sI[0].aa.code}} -->
                          <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.aarivalCity}} -->
                        </div>


                      </div>
                    </mat-tab>

                  </mat-tab-group>

                </mat-expansion-panel>
              </mat-accordion>
            </mat-card>
          </div>
        </div>
        <div class="flex flex-column">
          <div *ngFor="let rightobj of tripjackreturn   orderBy:'-totalPriceList[0].fd.ADULT.fC.TF' ">
            <mat-card class="mr2 custom-search-results-card" style="padding: 4px!important">
              <div class="flex items-center">
                <div class="mr3">
                  <img *ngIf="rightobj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
                  <img *ngIf="rightobj.sI[0].fD.aI.name=== 'Vistara'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4" alt="vistara">
                  <img *ngIf="rightobj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                    src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                  <img *ngIf="rightobj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                    src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">
                </div>
                <div class="mr3">
                  <div style="text-align: center;font-size: 12px;color: #4a4a4a;">{{rightobj.sI[0].fD.aI.name}}</div>
                  <div style="text-align: center;font-size: 12px;color: #878787;">{{rightobj.sI[0].fD.aI.code}}
                    {{rightobj.sI[0].fD.aI.fN}}</div>
                </div>
                <div class="mr3">
                  <div class="fw6 text-center f4 custom-light-gray">{{rightobj.sI[0].dt | date:'hh:mm'}}</div>

                  <!-- <div class="fw6 text-center f4 custom-light-gray">{{obj.departureTime | date:'hh:mm'}}</div> -->
                  <div class="fw6 text-center f6 custom-light-gray">{{rightobj.sI[0].dt | date:'d/MM/yyyy'}}</div>
                  <div class="text-center f6" style="color: #000000">{{rightobj.sI[0].da.city}}</div>
                </div>
                <div class="mr2">
                  <div class=" custom-light-gray" style="font-size: 12px">{{rightobj.remainingTime}}</div>
                  <hr style="margin-block-start: 0em; margin-block-end: 0em">
                </div>
                <div class="mr2">
                  <div class="fw6 text-center f4 custom-light-gray">{{rightobj.sI[0].at | date:'hh:mm'}}</div>
                  <div class="fw6 text-center f6 custom-light-gray">{{rightobj.sI[0].at | date:'d/MM/yyyy'}}</div>
                  <div class="text-center f6" style="color: #000000">{{rightobj.sI[0].aa.city}}</div>
                </div>
                <div class="mr2">
                  <div class=" flex space-around">
                    <!-- <label id="example-radio-group-label" class=" custom-light-gray">Select Price</label> -->
                    <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    (change)="onPriceSelectedChange($event)">
                    <mat-radio-button class=" custom-light-gray"> -->
                    <h6 id="pricebal">₹{{rightobj.totalPriceList[0].fd.ADULT.fC.TF}}</h6>
                    <!-- </mat-radio-button>
                  </mat-radio-group> -->
                  </div>
                </div>
                <div class="flex justify-around">
                  <!-- <mat-checkbox (click)="openBottomSheet()"> </mat-checkbox>  -->
                  <!-- <input type="checkbox" name="" id=""  (click)="openBottomSheet()"> -->
                  <!-- <button class="flight_select_button" mat-button (click)="onFlightSelect(obj)">Select</button> -->
                  <button mat-raised-button (click)="onRightFlightSelect(rightobj)">select</button>
                </div>
              </div>
            </mat-card>
            <mat-card class="mb2 mr2" style="top: -6px; padding: 0px">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>

                    </mat-panel-title>
                    <mat-panel-description>
                      Flight Details
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-tab-group>
                    <mat-tab label="Flight Informations">
                      <div class="flex flex-column mt3">
                        <div class="mb2">
                          The baggage information is just for reference. Please Check with airline before check-in.
                          For more information, visit the airline's official website.
                        </div>
                        <div class="flex">
                          <div class="mr3">
                            <img *ngIf="rightobj.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
                              src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4"
                              alt="indigo">
                            <img *ngIf="rightobj.sI[0].fD.aI.name=== 'Vistara'" style="width:50px; height: 50px"
                              src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4"
                              alt="vistara">
                            <img *ngIf="rightobj.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
                              src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
                            <img *ngIf="rightobj.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
                              src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4"
                              alt="spicejet">

                          </div>
                          <div class="mr6">
                            <div style="text-align: center;font-size: 16px;color: #4a4a4a;">
                              {{rightobj.sI[0].fD.aI.name}},
                              {{rightobj.sI[0].fD.aI.code}}</div>
                            <div style="text-align: center;font-size: 14px;color: #878787;">Operated by
                              {{rightobj.sI[0].fD.aI.name}}</div>
                          </div>
                        </div>
                        <div class="flex justify-around">
                          <div class="flex flex-column">
                            <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{rightobj.sI[0].da.city}}
                            </div> <!-- , {{obj.sI[0].da.code}} -->
                            <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.departureCity}} -->
                          </div>
                        </div>
                        <div class="flex flex-column">
                          <div style="text-align: center;font-size: 16px;color: #4a4a4a;">{{rightobj.sI[0].aa.city}}
                          </div> <!-- , {{obj.sI[0].aa.code}} -->
                          <!-- <div style="text-align: center;font-size: 14px;color: #000000;">{{obj.aarivalCity}} -->
                        </div>


                      </div>
                    </mat-tab>

                  </mat-tab-group>

                </mat-expansion-panel>
              </mat-accordion>
            </mat-card>
          </div>
        </div>
      </div>


    </div>
    <!-- Round trip search ends here -->



  </div>

</div>