<div style='padding: 80px 0px;background: #ececec'>
    <div class="container">

        <div class="al-result imageRelate">
            <div class="flex-container">
                <div class="row">
                    <div class="city">
                        <h6>DEL</h6>
                        <i>Delhi, India</i>
                    </div>
                    <div>
                        <i class="material-icons" style="transform: rotate(90deg);">flight</i>
                    </div>
                    <div class="city">
                        <h6>DEL</h6>
                        <i>Delhi, India</i>
                    </div>

                    |

                    <div class="city">
                        <h6>Departure Date</h6>
                        <i>Tue, Mar 17th 2020</i>
                    </div>

                    |

                    <div class="city">
                        <h6>Return Date</h6>
                        <i>Tue, Mar 17th 2020</i>
                    </div>

                    |

                    <div class="city">
                        <h6>Passengers & Class</h6>
                        <i> 1 Adults | ECONOMY</i>
                    </div>

                    |

                    <div class="city">
                        <button mat-raised-button color="primary">Modify</button>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-3">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Price
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng5-slider [(value)]="value" [(highValue)]="maxValue" [options]="options"
                            (userChangeEnd)="onUserChangeEnd($event)"></ng5-slider>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Flight Times
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng5-slider class="timeSlider" [(value)]="minTime" [(highValue)]="maxTime"
                            [options]="timeOptions" (userChangeEnd)="onTimeChangeEnd($event)"></ng5-slider>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Flight Stops

                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <section class="stops_check_section checkbox_section">
                            <mat-checkbox class="checkbox_item" (change)="stopCheck('zero', stop0)" [(ngModel)]="stop0">
                                0 STOP</mat-checkbox>
                            <mat-checkbox class="checkbox_item" (change)="stopCheck('one', stop1)" [(ngModel)]="stop1">1
                                STOP</mat-checkbox>
                            <mat-checkbox class="checkbox_item" (change)="stopCheck('two', stop2)" [(ngModel)]="stop2">2
                                STOPs</mat-checkbox>
                            <mat-checkbox class="checkbox_item" (change)="stopCheck('three', stop3)"
                                [(ngModel)]="stop3">3 STOPs</mat-checkbox>
                            <mat-checkbox class="checkbox_item" (change)="stopCheck('four', stop4)" [(ngModel)]="stop4">
                                Multistops</mat-checkbox>
                        </section>
                    </mat-expansion-panel>

                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Airlines

                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <section class="stops_check_section checkbox_section" >
                            <mat-checkbox class="checkbox_item" [(ngModel)]="stop1">1 STOP</mat-checkbox>
                            <mat-checkbox class="checkbox_item" [(ngModel)]="stop2">2 STOPs</mat-checkbox>
                            <mat-checkbox class="checkbox_item" [(ngModel)]="stop3">3 STOPs</mat-checkbox>
                            <mat-checkbox class="checkbox_item" [(ngModel)]="stop4">Multistops</mat-checkbox>
                          </section>
                    </mat-expansion-panel> -->

                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Flight Type
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <h2>Description</h2>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Inflight Experience
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <h2>Description</h2>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Modify Search
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <h2>Description</h2>
                    </mat-expansion-panel> -->
                </mat-accordion>
            </div>
            <div class="col-md-9 col-lg-9">
                <div class="row" style="background-color: white;">
                    <div class="col-lg-7">
                        <div class="sort_by_section">
                            <!-- <div class="sort_sub">Sort results by: </div>
                            <mat-radio-group aria-labelledby="sort" class="example-radio-group" [(ngModel)]="sortby">
                                <mat-radio-button class="sort_radio_buttons" value="name">
                                    Name
                                </mat-radio-button>
                                <mat-radio-button class="sort_radio_buttons" value="price">
                                    Price
                                </mat-radio-button>
                                <mat-radio-button class="sort_radio_buttons" value="duration">
                                    Duration
                                </mat-radio-button>
                            </mat-radio-group> -->
                            Flight Search Results
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                </div>

                <div class="row search_result_card_wrapper" *ngIf="!showMulticity">
                    <div class="col-md-4 col-lg-4" *ngFor="let obj of resultsArr">
                        <mat-card class="flight_card">
                            <!-- <img mat-card-image [src]="details.img" alt="Flight"> -->
                            <mat-card-content>
                                <div class="row price_section">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="_from_">

                                        </div>
                                        <div class="_way_">
                                            ONEWAY FLIGHT
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6" style="text-align: right;">
                                        <div class="_cost_title_">Avg/Person</div>
                                        <div class="_cost_per">₹{{obj.totalPriceList[0].fd.ADULT.fC.TF}}</div>
                                    </div>
                                </div>
                                <div class="row price_section">
                                    <div class="flight_timings col-md-6 col-lg-6">
                                        <div>
                                            <mat-icon class="flight_img">flight_takeoff</mat-icon>
                                        </div>
                                        <div class="takeoff_details">
                                            <div class="timings_title">
                                                Take Off
                                            </div>
                                            <div class="landing_time">
                                                {{obj.sI[0].dt | date:'hh:mm'}}
                                            </div>
                                            <div>
                                                {{obj.sI[0].da.cityCode}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flight_timings col-md-6 col-lg-6" style="border-right:0px;">
                                        <div>
                                            <mat-icon class="flight_img">flight_land</mat-icon>
                                        </div>
                                        <div class="landing_details">
                                            <div class="timings_title">
                                                Landing
                                            </div>
                                            <div class="landing_time">
                                                {{obj.sI[0].at | date:'hh:mm'}}
                                            </div>
                                            <div>
                                                {{obj.sI[0].aa.cityCode}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row travel_time_section">
                                    <div class="time_sub">Total Time: </div>
                                    <div class="travel_time"> {{obj.remainingTime}} Minutes</div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button class="flight_select_button" mat-button (click)="onFlightSelect(obj)">SELECT
                                    NOW</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>





                </div>

                <div class="row search_result_card_wrapper" *ngIf="showMulticity">
                    <div class="col-lg-12">
                        <mat-tab-group>
                            <mat-tab  *ngFor="let Flights of mulCity">
                                <ng-template mat-tab-label>
                                    {{Flights[0].sI[0].da.city}} ➞ {{Flights[0].sI[0].aa.city}}<br>
                                    {{Flights[0].sI[0].dt.slice(0,10)}}
                                  </ng-template>
                                <div class="col-md-12 col-lg-12" *ngFor="let obj of Flights">
                                    <mat-card class="flight_card">
                                        <!-- <img mat-card-image [src]="details.img" alt="Flight"> -->
                                        <mat-card-content>
                                            <div class="row price_section">
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="_from_">

                                                    </div>
                                                    <div class="_way_">
                                                        ONEWAY FLIGHT
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6" style="text-align: right;">
                                                    <div class="_cost_title_">Avg/Person</div>
                                                    <div class="_cost_per">₹{{obj.totalPriceList[0].fd.ADULT.fC.TF}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row price_section">
                                                <div class="flight_timings col-md-6 col-lg-6">
                                                    <div>
                                                        <mat-icon class="flight_img">flight_takeoff</mat-icon>
                                                    </div>
                                                    <div class="takeoff_details">
                                                        <div class="timings_title">
                                                            Take Off
                                                        </div>
                                                        <div class="landing_time">
                                                            {{obj.sI[0].dt | date:'hh:mm'}}
                                                        </div>
                                                        <div>
                                                            {{obj.sI[0].da.cityCode}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flight_timings col-md-6 col-lg-6" style="border-right:0px;">
                                                    <div>
                                                        <mat-icon class="flight_img">flight_land</mat-icon>
                                                    </div>
                                                    <div class="landing_details">
                                                        <div class="timings_title">
                                                            Landing
                                                        </div>
                                                        <div class="landing_time">
                                                            {{obj.sI[0].at | date:'hh:mm'}}
                                                        </div>
                                                        <div>
                                                            {{obj.sI[0].aa.cityCode}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row travel_time_section">
                                                <div class="time_sub">Total Time: </div>
                                                <div class="travel_time"> {{obj.remainingTime}} Minutes</div>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="flight_select_button" mat-button
                                                (click)="onFlightSelect(obj)">SELECT NOW</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



---------------------------------------------------------------------------------------------


/* ---------------------------- Header starts here ------------------------------------ */

.top_nav_item {
  color: #fff;
  line-height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0 10px;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}
.menu_item {
  color: #636363;
  margin: 0 10px;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  height: 68px;
  line-height: 68px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.title_wrapper {
  display: flex;
  justify-content: space-between;
}
.page_title {
  background: #ffffff;
  color: whitesmoke;
}
.heading {
  line-height: 56px;
  margin: 0;
  font-size: 20px;
}
.sub_text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 56px;
  margin: 0;
}
p {
  margin: 0;
}

.sub_text > p > span {
  padding-left: 4px;
}
/* ---------------------------- Header ends here ------------------------------------ */

/* ---------------------------- filters starts here ------------------------------------ */
::ng-deep .mat-expansion-indicator::after {
  content: "+" !important;
  color: white;
  font-size: 13px;
  background: #0db1ff;
  padding: 0px 5px !important;
  border-radius: 43px;
  font-weight: bolder;
  border-style: solid;
  border-width: 0 !important;
  display: inline-block;
  transform: rotate(0deg) !important;
  vertical-align: middle !important;
}

.mat-expansion-panel {
  margin: 6px 0px;
  box-shadow: none;
  border-radius: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.mat-expansion-panel:hover {
  background: #fafafa !important;
}

.sort_by_section {
  display: flex;
  justify-content: space-between;
  background: white;
  line-height: 60px;
  padding: 0px 23px;
}
.sort_options {
  max-width: 100px;
}

::ng-deep .mat-form-field-infix {
  border-top: 0px !important;
  padding: 0px !important;
}
.select {
  padding: 0 !important;
  top: 0 !important;
}

::ng-deep .mat-form-field-wrapper {
  position: unset !important;
  padding-bottom: 0px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px 24px 16px !important;
}
.sort_radio_buttons {
  padding-right: 10px;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0db1ff !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #0db1ff !important;
}

// ::ng-deep .ng5-slider .ng5-slider-bar-wrapper{
//   height: 20px !important;
// }
::ng-deep .ng5-slider .ng5-slider-bar {
  height: 10px !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  height: 18px !important;
  width: 18px !important;
  top: -4px !important;
  background-color: #2d3e52 !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer:after {
  display: none !important;
}

::ng-deep .timeSlider .ng5-slider-selection {
  z-index: 2;
  background: orange !important;
  border-radius: 2px;
}
.checkbox_section {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
}
.checkbox_item {
  background-color: #d2d2d2;
  margin: 0.5px;
  padding: 5px 5px 5px 13px;
}

.mat-checkbox-checked {
  background-color: #0db1ff;
  color: #fff;
}
::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #d2d2d2 !important;
}

/* ---------------------------- Filters end here ------------------------------------ */

/* ---------------------------- Flight card starts here ------------------------------------ */

.mat-card-image {
  margin: 0;
  margin-top: 0 !important;
  height: 130px;
  background-color: #dadada;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.search_result_card_wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}
.flight_card {
  margin: 25px 0px;
}

.flight_select_button {
  width: 100%;
  border-radius: 2px;
  background-color: #c4c4c4;
  color: white;
  font-size: 12px;
  line-height: 28px;
}
.flight_select_button:hover {
  background: #7db921;
}
.price_section {
  margin-top: 3px;
}
._from_ {
  font-size: 16px;
}
._way_ {
  font-size: 10px;
  color: #c4c4c4;
}

._cost_title_ {
  font-size: 12px;
}

._cost_per {
  color: #7db921;
  font-size: 16px;
  font-weight: 600;
}

.timings_title {
  color: #0db1ff;
  text-transform: uppercase;
}

.flight_timings {
  display: flex;
  font-size: 10px;
}

.landing_date,
.landing_time {
  color: gray;
}
.flight_img {
  color: orange;
  font-size: 20px;
  margin-right: 2px;
}

.flight_timings {
  border-right: 1px solid #efeeee;
  border-top: 1px solid #efeeee;
  border-bottom: 1px solid #efeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.travel_time_section {
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.time_sub {
  color: #0db1ff;
}
.travel_time {
  color: gray;
  padding-left: 3px;
}

.flight_card > .mat-card-content {
  margin-bottom: 0;
}
.mat-card-actions {
  padding: 0px;
}

//modufy search

.flex-container {
  width: 1280px;
  max-width: 100%;
  line-height: 23px;
  color: white;
}
.al-result {
  background: #333;
  padding: 8px;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: 4;
  line-height: 23px;
  width: 1125px;
}
.city{
  margin: 0px 5px 5px 15px;
}


//End modufy search

//card

mat-grid-tile {
  background: rgb(255, 255, 255);
  color: grayscale($color: #2c2b2b);
}


/// card end
