::ng-deep .dialog-container .mat-dialog-container{
  height: 510px;
  width: 530px;
  border-radius: 10px;
}
.close-btn {
  border: 2px solid #4a4a4a;
  border-radius: 25px;
  width: 28px;
  height: 28px;
  padding: 0.5px;
}
