<div class="flex justify-end">
  <div class="close-btn pointer" (click)="dialogClose()"><mat-icon>close</mat-icon></div>
</div>
<form [formGroup]="changePassword">
  <div class="form-group">
    <label>Old Password</label>
    <input
      formControlName="oldPassword"
      id="oldPassword"
      type="password"
      class="form-control" />
  </div>

  <div class="form-group">
    <label>New Password</label>
     <input
      formControlName="newPassword"
      id="newPassword"
      type="password"
      class="form-control" />
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
     <input
      formControlName="confirmPassword"
      id="confirmPassword"
      type="password"
      class="form-control" />
  </div>

  <button class="btn btn-primary" (click)="onChangePassword()">Change Password</button>

</form>
