<div class="flex">
    <mat-toolbar class="flex justify-around toolbar-title" style="margin-top: 5%;">Reset Password</mat-toolbar>
  
  </div>
  

<form  [formGroup]="ResetForm">
    <div class="pa3-l" style="height: 26vh;overflow-y: auto;">

<div class="flex w-25 justify-around">
    <div class="form-group">
        <label>Please Enter the Register Email<span class="label_required">*</span></label>
        <input type="text" class="form-control" placeholder="Email"
            formControlName="email" />
    </div>
</div>
<div class="flex btn custom-sbt-div">
    <button mat-stroked-button class="sign-out custom-sbt-btn"  (click)="onreset()">Submit</button>
    <button mat-stroked-button class="sign-out">Cancel</button>
</div>
    </div>
</form>
