<div class="row" style="padding-top: 4%;">
    <div class="col-md-8 packages">
        <div class="row">
            <div class="col-md-12 text-center">
                            <div class="box">
                                    <h4 class="fl-title"><b>Departure | {{fromAirportName}} → {{toAirportName}} | ( {{adultCount}} Adult / {{childCount}} Child / {{infantCount}} Infant ) Refundable</b></h4> <br>
                                    <div class="row">
                                        <div class="col-md-2 air-logo">
                                            <img src="/Content/AirlineLogo/6E.gif" class="img-responsive center-block" alt="air logo">
                                            <p>{{airlineName}}</p>
                                            <p>{{airlineCode}} {{flightNo}}</p>
                                            <h5>Class: {{flightClass}}</h5>
                                        </div>

                                        <div class="col-md-3 air-date">
                                            <h5>{{fromAirportName}} ({{fromAirportCode}})</h5>
                                            <h4><b>{{depTime}}</b></h4>
                                            <p>{{depDate}}</p>
                                            <p>{{fromTerminal}}</p>
                                        </div>

                                        <div class="col-md-4">
                                            <h5>{{remainingTime}}</h5>
                                            <img src="https://www.geturtrip.com/Content/img/one-way.png" alt="one-way">
                                            <p>

                                                <span style="background: #05a705; color: #fff; padding: 2px 15px; border-radius: 15px;">Refundable</span>
                                            </p>
                                        </div>

                                        <div class="col-md-3 air-date">
                                            <h5>{{toAirportName}} ({{toAirportCode}})</h5>
                                            <h4><b>{{arrTime}}</b></h4>
                                            <p>{{arrDate}}</p>
                                            <p>{{toTerminal}}</p>
                                        </div>
                                    </div><!--row-->


                            </div><!--box-->


            </div><!--col-md-12-->
        </div><!--row-->



        <div class="row">
            <div class="col-md-12 text-center">
                            <div class="box">
                                    <h4 class="fl-title"><b>Departure | {{righttoAirportName}} → {{rightfromAirportName}} | ( {{adultCount}} Adult / {{childCount}} Child / {{infantCount}} Infant ) Refundable</b></h4> <br>
                                    <div class="row">
                                        <div class="col-md-2 air-logo">
                                            <img src="/Content/AirlineLogo/6E.gif" class="img-responsive center-block" alt="air logo">
                                            <p>{{rightairlineName}}</p>
                                            <p>{{rightairlineCode}} {{rightflightNo}}</p>
                                            <h5>Class: {{rightflightClass}}</h5>
                                        </div>

                                        <div class="col-md-3 air-date">
                                            <h5>{{righttoAirportName}} ({{rightfromAirportCode}})</h5>
                                            <h4><b>{{rightdepTime}}</b></h4>
                                            <p>{{rightdepDate}}</p>
                                            <p>{{rightfromTerminal}}</p>
                                        </div>

                                        <div class="col-md-4">
                                            <h5>{{rightremainingTime}}</h5>
                                            <img src="https://www.geturtrip.com/Content/img/one-way.png" alt="one-way">
                                            <p>

                                                <span style="background: #05a705; color: #fff; padding: 2px 15px; border-radius: 15px;">Refundable</span>
                                            </p>
                                        </div>

                                        <div class="col-md-3 air-date">
                                            <h5>{{rightfromAirportName}} ({{righttoAirportCode}})</h5>
                                            <h4><b>{{rightarrTime}}</b></h4>
                                            <p>{{rightarrDate}}</p>
                                            <p>{{righttoTerminal}}</p>
                                        </div>
                                    </div><!--row-->


                            </div><!--box-->


            </div><!--col-md-12-->
        </div><!--row-->
        <input type="hidden" id="sessionid" name="sessionid" value="256b3bb4-1507-4d11-816a-9a1f72bc10d5">
        
    </div><!--col-md-8-->

    <div class="col-md-4 packages">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h4 class="fl-title">Fare Details</h4>
                    <hr>

                    <table class="table table-bordered">
                        <tbody>
                                    <tr *ngIf="showFields"><td>Adult x {{adultCount}}</td><td><span class="">INR </span>{{adultFare}}</td></tr>
                                    <tr *ngIf="showFields"><td>Child x {{childCount}}</td><td><span class="">INR </span>{{childFare}}</td></tr>
                                    <tr *ngIf="showFields"><td>Infant x {{infantCount}}</td><td><span class="">INR </span>{{infantFare}}</td></tr>
                                <tr *ngIf="showFields"><td>Base Fare</td><td><span class="">INR </span>{{basefare}}</td></tr>
                                    <tr *ngIf="showFields"><td>Net Fare</td><td><span class="">INR </span>{{netfare}}</td></tr>
                                    <tr *ngIf="showFields"><td>TAF Fare</td><td><span class="">INR </span>{{taffare}}</td></tr>

                                    <!-- <tr *ngIf="showFields"><td>CGST</td><td><span class="">INR </span>{{cgst}}</td></tr>
                                    <tr *ngIf="showFields"><td>SGST</td><td><span class="">INR </span>{{sgst}}</td></tr> -->
                                <tr><td><strong>Grand Total</strong> </td><td><strong><span class="">INR </span>{{totalAmount}}</strong></td></tr>
                                <tr><td><h4>You Will be charged</h4></td><td><h4><span class="">INR </span>{{totalAmount}}</h4></td></tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-8 packages">
            <div class="row">
                <div class="col-md-12 " style="    margin-top: -68px;">
                    <div class="box">
        <p>Mandatory check-list for passengers: <br>
            1. Please download and activate the Aarogya Setu app on your phone.<br>
            2. Certify your health status through the Aarogya Setu app or the self-declaration form.<br>
            3. Remember to do web check-in before arriving at the airport. Please do carry an e-boarding pass on your mobile. Alternatively, you can carry the printout of the boarding pass.<br>
            4. Please reach at least 2 hours prior to flight departure.<br>
            5.No meal service will be available on-board.<br>
            6. Face masks are compulsory. We urge you to carry your own.<br>
            7. You are requested to print and paste the baggage tag attached to your booking confirmation. Alternatively, you can write your name, PNR and flight number on an A4 sheet and affix on your bag.<br>
            Baggage Information: Carry no more than 1 check-in baggage and 1 hand baggage per passenger. The free check-in baggage allowance is 20 kgs, effective 25th May-24th August.<br>
            Baggage: The baggage allowances for your trip are different for Adults, Children and Infants.</p>
    </div>
        </div>
    </div>
    </div>
    </div>

</div>
<div class="flex btn custom-sbt-div">
    <button mat-stroked-button class="sign-out custom-sbt-btn"   (click)="OnContinue() ">Continue</button>
  </div>

