<mat-card class="main-card">
    <mat-toolbar class="flex justify-around toolbar-title">Payment Cancellations</mat-toolbar>
    <form [formGroup]="paymentcancellationForm">
    <div class="pa3-l" style="height: 45vh;overflow-y: auto;">
      <div class="flex justify-around items-center">
        <div class="flex w-50 justify-around">
          <div class="form-group">
            <label>Partner Name<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="Partnername" />
          </div>
        </div>
        <div class="flex w-50">
           <div class="form-group">
            <label>Booking Reference<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="bookingreference" />
          </div> 
        </div>
      </div>
      <div class="flex justify-around items-center">
        <div class="flex w-50 justify-around">
          <div class="form-group">
            <label>Payment Mode</label>
            <select class="form-control" formControlName="payment" name="payment" placeholder="select">
              <option *ngFor="let payment of payments" [value]="payment">{{ payment }}</option>
            </select>
          </div>
        </div>
        <div class="flex w-50">
            <div class="form-group">
             <label>Reciept Number<span class="label_required">*</span></label>
             <input type="text" class="form-control" placeholder="" formControlName="recieptnumber" />
           </div> 
         </div>
 
       
      </div>  
     
     
      
  
      
 <div class="flex btn custom-sbt-div">
  <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag" [class.isDisabled]="!paymentcancellationForm.valid" [disabled]="!paymentcancellationForm.valid" >Submit</button>
  <button mat-stroked-button class="sign-out">Cancel</button>
</div>
    </div>
  </form>
  </mat-card>

