<div class="flex justify-end">
    <div (click)="emailDialogClose()"><i class="material-icons close-icon pointer">close</i>
  </div>
  </div>
  
  
  
  <form class="pa3-l"  [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Enter OTP:</label>
      <input type="email"  formControlName="otp" class="form-control login-input" placeholder="Enter OTP" >
    </div>
    
    <button class="btn btn-primary w-5" style="margin-left: 141px;" >submit</button>
  </form>
  
  
 
  