.side-nav-main {
    background-color: #570621ed;
    border-radius: 0px;
    padding: 0px;
  }
  
  ::-webkit-scrollbar {
    width: 1px;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 16px;
    margin-left: 15%;
    color: rgba(187, 226, 31, 0.87);

}
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  
  li {
    list-style-type: none;
      font-size: 16px;
      padding: 0px 0px 22px 0px;
      cursor: pointer;
      color: #ffffff;
  }
  .custom-user-icon {
    font-size: 22px;
      color: #343a40;
      margin-right: 10px;
  }
  .user-account-icon {
    font-size: 20px;
  }
  .user-account-button {
    background-color: transparent;
    border: none;
  }
  .user-account-button:focus {
    outline: none;
  }
  .brand-main {
    height: 73px;
    padding-top: 5%;
    padding-left: 20%;
    background-color: #1a1a27;
    box-shadow: none;
  }
  .brand-logo {
    width: 150px;
      margin-left: -6%;
  }
  .nav-route-main {
    padding-top: 20px;
    overflow-y: scroll;
    height: 89vh;
    background-color: #1e1e2d
  }
  .dashboard-title {
    font-weight: 500;
    color: #6c7293;
    font-size: 0.9rem;
  }
  .side-nav-slider {
    width: 25%;
  }
  .nav-items-li {
    transition: background-color 0.3s;
    padding: 2px 25px;
    min-height: 30px;
    box-shadow: none;
    background: transparent;
  }
  .nav-items-label {
    color: #a2a3b7;
    font-size: 0.9rem
  }
  .nav-item-active {
    background-color: #1b1b28;
  }
  .nav-item-label-active {
    color: #ffffff;
  }
  .sign-out {
    color: #5d78ff;
    border-color: #5d78ff;
  }
  .sign-out:hover {
    background-color: #5d78ff;
    color:#ffffff;
  }
  ::ng-deep .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color: rgba(187, 226, 31, 0.87)!important;
  }
  ::ng-deep .mat-list-base .mat-list-item {
    color: rgb(67, 77, 106);
    margin-left: 8%;
  }
  ::ng-deep .mat-list-base .mat-list-item:hover {
    color: #ffffff;
  }
  ::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 30px!important;
  }
  