
   <mat-toolbar class="flex justify-around toolbar-title" style="background-color: #394951;"> My Flight Markup</mat-toolbar>
   
<div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>

  
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
   
  
  <!-- API Name Column -->
  <ng-container matColumnDef="APIName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> API Name </th>
  <td mat-cell *matCellDef="let element"> {{element.APIName}} </td>
  </ng-container>
  
  
  <!-- Markup Column -->
  <ng-container matColumnDef="Markup">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Markup </th>
  <td mat-cell *matCellDef="let element"> {{element.Markup}} </td>
  </ng-container>
  <!--markup Process Coloumn-->
  <ng-container matColumnDef="MarkupProcess">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Markup Process </th>
  <td mat-cell *matCellDef="let element"> {{element.MarkupProcess}} </td>
  </ng-container>
  
  
  <!-- Updated date and time-->
  <ng-container matColumnDef="UpdatedDate">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date</th>
  <td mat-cell *matCellDef="let element"> {{element.UpdatedDate}} </td>
  </ng-container>
  
  
  <!-- Status -->
  <ng-container matColumnDef="Status">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
  <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
  </ng-container>
  
  <!--Actions -->
  <ng-container matColumnDef="Actions">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
  <td mat-cell *matCellDef="let element"> {{element.Actions}} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>
    