<mat-toolbar class="flex justify-around toolbar-title">Manage Agent</mat-toolbar>


  
<div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>



  <div class="mat-elevation-z8 " >

    <table mat-table [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="agentNo">
        <th class="small-column" mat-header-cell *matHeaderCellDef mat-sort-header>Agent No</th>
        <td class="small-column" mat-cell *matCellDef="let element">{{ element.agentNo }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="large-column" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="large-column" mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="large-column" mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td class="large-column" mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="contactNo">
        <th class="small-column" mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
        <td class="small-column" mat-cell *matCellDef="let element">{{ element.contactNo }}</td>
      </ng-container>

      <ng-container matColumnDef="agencyname">
          <th class="small-column" mat-header-cell *matHeaderCellDef mat-sort-header>Agency Name</th>
          <td class="small-column" mat-cell *matCellDef="let element">{{ element.agencyname }}</td>
        </ng-container>

      <!-- <ng-container matColumnDef="status">
        <th class="small-column" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td class="small-column" mat-cell *matCellDef="let element" [ngClass]="{'active': element.status=='active', 'not-active':element.status=='inactive' }">{{ element.status }}</td>
      </ng-container> -->

      <!-- Edited Icon Column -->
      <ng-container matColumnDef="edit">
          <th class="extra-small-column" mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
          <td class="extra-small-column" mat-cell *matCellDef="let row"> <mat-icon style="color: #149dcb; cursor: pointer" (click)="onAgentEdit(row)">edit</mat-icon> </td>
        </ng-container>

        <!-- Deleted Icon Column -->
        <ng-container matColumnDef="delete">
            <th class="extra-small-column" mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td class="extra-small-column" mat-cell *matCellDef="let row"> <mat-icon style="color: #f00000; cursor: pointer" (click)="onAgentDelete(row)">delete</mat-icon> </td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
