<mat-toolbar class="flex justify-around toolbar-title" style="background-color: #394951;"> Hotel Booking</mat-toolbar>
   
<div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>



<!-- Created Date Column -->
<ng-container matColumnDef="API">
<th mat-header-cell *matHeaderCellDef mat-sort-header> API </th>
<td mat-cell *matCellDef="let element"> {{element.API}} </td>
</ng-container>
<!-- Status Column -->
<ng-container matColumnDef="HotelPNR">
<th mat-header-cell *matHeaderCellDef mat-sort-header> HotelPNR </th>
<td mat-cell *matCellDef="let element"> {{element.HotelPNR}} </td>
</ng-container>
<!-- Trvael Date-
<ng-container matColumnDef="TravelDate ">
<th mat-header-cell *matHeaderCellDef> TravelDate </th>
<td mat-cell *matCellDef="let element"> {{element.TravelDate }} </td>
</ng-container>
-->


<ng-container matColumnDef="Noofrooms">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Noofrooms</th>
<td mat-cell *matCellDef="let element"> {{element.Noofrooms}} </td>
</ng-container>

<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
<td mat-cell *matCellDef="let element"> {{element.Status}} </td>
</ng-container>


<ng-container matColumnDef="AdminMarkup">
<th mat-header-cell *matHeaderCellDef mat-sort-header> AdminMarkup</th>
<td mat-cell *matCellDef="let element"> {{element.AdminMarkup}} </td>
</ng-container>


<ng-container matColumnDef="TotalPrice">
<th mat-header-cell *matHeaderCellDef mat-sort-header> TotalPrice</th>
<td mat-cell *matCellDef="let element"> {{element.TotalPrice}} </td>
</ng-container>

<ng-container matColumnDef="Action">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
<td mat-cell *matCellDef="let element"> {{element.Action}} </td>
</ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  