::ng-deep .login-container .mat-dialog-container{
  height: 487px;
  width: 468px;
    border-radius: 10px;
  }
  .login-title {
    color: #4a4a4a;
  }
  .login-main {
    line-height: 26px;
  }
  .create-account-link {
    color:#008cff;
  }
  .login-input:focus {
    border: none;
  }
  .login-with {
    color: #9b9b9b;
  }
  .login-fb {
    background-color: #3b589a;
  }
  .login-google {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #4a4a4a!important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  .login-google:active {
    background-color: #ffffff!important;
    border-color: #ffffff!important;
    color: #4a4a4a!important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
  }
  .close-icon {
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
  }
  a:hover {
    background-color: rgb(2, 71, 39);
  }
  
.mat-chip-button:focus {
    outline: none;
  }
  .justify-between {
    justify-content: space-between;
    margin-left: 5%;
  }
  // .scroll-items:hover {
  //   // padding-bottom: 5px;
  //   color: #ef4b5a;
  // }
  
  .booking-temp {
    position: absolute !important;
    width: 441px;
    padding: 10px;
    margin-top: 6%;
    margin-left: -2%;
  }
  
  ::ng-deep .mat-tab-label {
    padding: 0px!important;
    min-width: 0px!important;
  }
  
  ::ng-deep .mat-tab-label-active {
   color: #065af3;
  
  }
  
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    // background-color: #ef4b5a;
    background-image: linear-gradient(45deg, #53b2fe, #065af3);
    margin-top: -97px;

  }
  
  .flight-search-title {
    color: #484848;
  }
  
  ::ng-deep .mat-chip.mat-standard-chip {
    background-color: #ffffff;
    color: rgb(121, 121, 121);
    //border: 2px solid rgb(121, 121, 121);
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #065af3;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    // background-color: #ef4b5a;
    background-image: linear-gradient(45deg, #53b2fe, #065af3);
  }
  
  ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #065af3;
  }
  
  ::ng-deep .mat-datepicker-toggle-active {
    color: #065af3;
  }
  
  ::ng-deep .mat-input-count .mat-form-field {
    width: 75px;
  }
  
  ::ng-deep .mat-input-date .mat-form-field {
    width: 180px;
  }
  .btn{
    background-image: linear-gradient(45deg, #53b2fe, #065af3);
  }
  ::ng-deep .customFromToField .mat-form-field {
    width: 150px;
  }
  .customSwap {
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    padding: 2px;
  }
  .customSwapBtn {
    background-color: #ffffff;
    box-shadow: none;
    color: #4a4a4a;
  }
  .customSwapBtn:focus {
    outline: none;
  }
  ::ng-deep .customFromToFieldMulti .mat-form-field{
    width: 85px;
  }
  ::ng-deep .mat-input-date-multi .mat-form-field {
    width: 85px;
  }
  ::ng-deep .mat-flight-class-multi .mat-form-field{
    width: 85px;
  }
  .multi-trip-city {
    height: 318px;
    overflow-y: auto;
  }
  
  
  .close-icon {
    margin-block-end: -27px; 
      //margin-top: -18px;
      color: #4a4a4a;
      border: solid 1px;
      border-radius: 21px;
      border: -3px solid #4a4a4a;
      border-radius: -12px;
      margin-right: -18px;
      //margin-top: -32px;
  }
  
.activeColor {
  background-image: linear-gradient(45deg, #53b2fe, #065af3);
  color: #ffffff !important;
  margin-left: -30px;
  margin-right: -19px;
  padding-left: 40px;
  padding-right: 30px;
  margin-top: -10px;
  height: 45px;
  padding-top: 10px;
}