.header {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.navLabel, .header-mat-icon {
  color: #4a4a4a;
}
.signDiv {
  width: 265px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: -moz-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: -o-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: linear-gradient(45deg,#53b2fe,#065af3);
}
.customSignInArrow {
  margin-left: 8.5rem;
  margin-top: 5px;
  position: absolute;
}

.logged-in-user {
  position: absolute;
  top: 0;
  right: 90px;
  padding: 1.35% 3%;
  color: #394951;
}
::ng-deep .mat-menu-item {
  background: 0 0;
  /* color: rgba(0,0,0,.87); */
}
.cdk-overlay-container:empty {
  display: block;
}
::ng-deep .mat-icon-button {
  /* display: none; */
  padding: 0;
  min-width: 0;
  /* width: 40px; */
  /* height: 40px; */
  flex-shrink: 0;
  /* line-height: 40px; */
  /* border-radius: 50%; */
}
// mat-icon{
//   padding: 0%;
//     margin-left: 168%;
//     /* margin-top: -9%; */
//     margin-bottom: 28%;
// }
img {
  vertical-align: middle;
  border-style: none;
  height: 45px;
}