<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  opacity="0.6"
  type="square-jelly-box"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<header class="w-100 z-5 h3 pl4 flex items-center fixed bg-white header" *ngIf="!showHideHeaderFooter">
  <div class="flex items-center">
      <div class="w-30 flex">
          <img src="../assets/images/Tripee.png" alt="tripee-logo">
      </div>
      <div class="flex items-center w-60 white pl3 f4"  >
        <div class="flex items-center pointer pr4" *ngFor="let navItem of navItems">
          <div class="flex items-center pr1">
              <mat-icon class="f3 header-mat-icon">{{navItem.navIcon}}</mat-icon>
          </div>
          <div class="f5 navLabel">
            {{navItem.navLabel}}
          </div>
        </div>
      </div>
      <!-- <div class="w-20 nav-items mob-try" id="logSignupItems"> -->
        <div>
          <div *ngIf="!userLoggedIn" class="w-10 ml6 signDiv"  (click)="openLoginDialog()">
            <i class="material-icons white pl1 pt2 f5">
              flight
            </i>
            <span class="white absolute pt2 pl2 f7">Login or Create Account </span> </div>
          <!-- <div class="pointer" *ngIf="!userLoggedIn" > <a routerLink="/agentaccount"  style="  color: #394951;margin-left: -37%;"routerLinkActive="active">Agent Login</a></div> -->

          <!-- <button mat-icon-button [matMenuTriggerFor]="beforeMenu" *ngIf="userLoggedIn" class="pointer logged-in-user" aria-label="Example icon-button with a menu"> -->
            <!-- <div class="w-10 ml6 signDiv" >
              
            <span class="white absolute pt2 pl2 f7" > </span> -->
            <button mat-icon-button [matMenuTriggerFor]="beforeMenu" *ngIf="userLoggedIn" style=" margin-left: 244px;" > {{username}}<mat-icon >keyboard_arrow_down</mat-icon></button>
          <!-- </div> -->
          <!-- </button> -->




          



          <mat-menu #beforeMenu="matMenu" xPosition="before" class="custom-mat-menu-panel">
            <button mat-menu-item (click)="onMyProfile()">
              <mat-icon>face</mat-icon>
              <span>My Profile</span>
            </button>
            <button mat-menu-item (click)="onMyTrips()">
              <mat-icon>face</mat-icon>
              <span>My Trips</span>
            </button>
            <!-- <button mat-menu-item (click)="onMyTraveller()">
              <mat-icon>face</mat-icon>
              <span>My Traveller</span>
            </button> -->
            <button mat-menu-item (click)="onMyCoupons()">
              <mat-icon>face</mat-icon>
              <span>My Coupons</span>
            </button>

            <button mat-menu-item (click)="changePassword()">
              <mat-icon>vpn_key</mat-icon>
              <span>Change Password</span>
            </button>
            <button mat-menu-item (click)="onSignout()">
              <mat-icon><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </div>
   


      <!-- <div class="mr5 signDiv">
        <button class="user-menu" mat-button [matMenuTriggerFor]="menu">
          <span class="user-name"></span>
          <i class="material-icons absolute">keyboard_arrow_down</i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onMyAccount()">My Account</button>
        </mat-menu>
      </div> -->
      <!-- <div class="w-10 nav-items mob-try white">
        <div class="flex items-center justify-between">
          <div class="pointer" (click)="redirectToSignup()">Sign up</div>
          <div class="pointer" (click)="redirectToLogin()">Log in</div>
        </div>
      </div> -->
  </div>
</header>
<router-outlet></router-outlet>
