<div class="flex flex-column" style="background-color: #4a4a4a">
  <div class="flex justify-between pl6 pr6 pt3 w-100 h-50">
    <div *ngFor="let obj of footerObj" class="flex flex-column h-75">
      <div class="footer-title fw6 f4 pb2 white">{{obj.title}}</div>
      <li *ngFor="let data of obj.content" class="list pb1 white">
        {{data}}
      </li>
    </div>
  </div> 
</div>
