
<mat-card class="main-card">
  <mat-toolbar class="flex justify-around toolbar-title">B2C Flight Markup Manager</mat-toolbar>
  <form [formGroup]="flightMarkupForm"  >
  <div class="pa3-l" style="height: 26vh;overflow-y: auto;background-color: #efebe5; border:solid 1px;">

    <div class="flex justify-around items-center">
        <div class="flex w-50 justify-around">
            <div class="form-group">
                <label>API<span class="label_required">*</span></label>
                <select class="form-control" formControlName="API" name="api1" placeholder="select">
                  <option *ngFor="let api1 of API" [value]="ap1">{{api1 }}</option>
                </select>
              </div>
        </div>
        <div class="flex w-50 space-around">
          <div class="form-group">
              <label>Markup Price<span class="label_required">*</span></label>
              <input type="text" class="form-control"  placeholder="" formControlName="markup"/>
             
            </div>
      </div>
      </div>
      <!-- <div class="flex justify-around items-center">
        <div class="flex w-50 justify-around">
            <div class="form-group">
                <label>Markup Type<span class="label_required">*</span></label>
                <select class="form-control" formControlName="Markup" name="mark" placeholder="select">
                  <option *ngFor="let mark of Markup" [value]="ap1">{{mark }}</option>
                </select>
              </div>
        </div>
       
      </div> -->

      
 <div class="flex btn custom-sbt-div">
  <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag" [class.isDisabled]="!flightMarkupForm.valid" [disabled]="!flightMarkupForm.valid" (click)="onSubmit()">Submit</button>
  <button mat-stroked-button class="sign-out">Cancel</button>
</div>
</div>
</form>
</mat-card>

  <br>
  
<div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>



<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

 

<!-- API Name Column -->
<ng-container matColumnDef="APIName">
<th mat-header-cell *matHeaderCellDef mat-sort-header> API Name </th>
<td mat-cell *matCellDef="let element"> {{element.APIName}} </td>
</ng-container>


<!-- Markup Column -->
<ng-container matColumnDef="Markup">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Markup </th>
<td mat-cell *matCellDef="let element"> {{element.Markup}} </td>
</ng-container>
<!--markup Process Coloumn-->


<!-- Updated date and time-->
<ng-container matColumnDef="UpdatedDate">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date</th>
<td mat-cell *matCellDef="let element"> {{element.UpdatedDate}} </td>
</ng-container>

  <!-- Deleted Icon Column -->
  <ng-container matColumnDef="delete">
    <th class="extra-small-column" mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
    <td class="extra-small-column" mat-cell *matCellDef="let row"> <mat-icon style="color: #f00000; cursor: pointer" (click)="onDistributorDelete(row)">delete</mat-icon> </td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  