<div class="flex flex-column pt4 w-100 bg-white">
  <div class="text-center templates-title"><h2>Travel Blog</h2></div>
  <div class="text-center why-inno-description inno-demo-heading-description pb3" style="width: 376px;  margin-left: 456px;">
    Visit our blogs to know customer experience
  </div>
  <div class="flex items-center mb4 subject">
    <mat-card class="inno-demo-sub-div" *ngFor="let item of innoDemos">
      <img class="img-responsive inno-demo-image" [src]="item.image" />
      <div class="inno-demo-title" [innerHtml]="item.title"></div>
      <div class="inno-demo-description" [innerHtml]="item.description"></div>
    </mat-card>
  </div>
</div>
