<mat-toolbar class="flex justify-around toolbar-title">Refund Report</mat-toolbar>

<div class="flex">
  <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
  <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
    
    <input matInput (keyup)="applyFilter($event)" placeholder="" >
  </mat-form-field>
</div>

  <div>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Copy</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Excel</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">PDF</button>
    <button class="btn btn-primary" class="role-create-btn" (click)="createRole()">Print</button>
    
  </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

   

<!-- BookingId Column -->
<ng-container matColumnDef="BookingId">
<th mat-header-cell *matHeaderCellDef> Booking Id </th>
<td mat-cell *matCellDef="let element"> {{element.BookingId}} </td>
</ng-container>

<ng-container matColumnDef="BookingDate">
<th mat-header-cell *matHeaderCellDef> Booking Date </th>
<td mat-cell *matCellDef="let element"> {{element.BookingDate}} </td>
</ng-container>

<ng-container matColumnDef="Status">
<th mat-header-cell *matHeaderCellDef> Status </th>
<td mat-cell *matCellDef="let element"> {{element.Status}} </td>
</ng-container>

<ng-container matColumnDef="TransactionType">
<th mat-header-cell *matHeaderCellDef> Transaction Type </th>
<td mat-cell *
matCellDef="let element"> {{element.TransactionType}} </td>
</ng-container>
<ng-container matColumnDef="NetPrice">
  <th mat-header-cell *matHeaderCellDef> Net Price </th>
  <td mat-cell *matCellDef="let element"> {{element.NetPrice}} </td>
</ng-container>
<ng-container matColumnDef="TotalPrice">
  <th mat-header-cell *matHeaderCellDef> Total Price </th>
  <td mat-cell *matCellDef="let element"> {{element.TotalPrice}} </td>
</ng-container>

<ng-container matColumnDef="RefundAmount">
    <th mat-header-cell *matHeaderCellDef> Refund Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.RefundAmount}} </td>
  </ng-container>
  
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  