<div class="flex justify-end">
    <div (click)="emailDialogClose()"><i class="material-icons close-icon pointer">close</i>
  </div>
  </div>
  
  
  
  <form class="pa3-l"  [formGroup]="OtpForm">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email"  formControlName="email" class="form-control login-input" placeholder="Enter email" id="email">
    </div>
    
    <button class="btn btn-primary w-5" style="margin-left: 141px;" (click)="onVerify()" >submit</button>
  </form>
  
  
 
  