<div class="flex">
    <a  routerLink="/resetpassword"  >Verify Your Email</a>

</div>
<div class="flex">
  <mat-toolbar class="flex justify-around toolbar-title" style="margin-top: 5%;">My Profile</mat-toolbar>

</div>

<mat-card class="main-card">
   
    <form [formGroup]="MyProfileForm">
    <div class="pa3-l" style="height: 27vh;overflow-y: auto; background-color:#efebe5; border: solid 1px; margin-left: 31%;margin-right: -1%;">
     
      <div class="flex justify-around items-center">
      
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label> Name<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="name" />
          </div>
        </div>
        <!-- <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Last Name<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="lastName" />
          </div>
        </div> -->
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Email<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="email" />
          </div>
        </div>
        <div class="flex w-25 justify-around">
          <div class="form-group">
            <label>Contact<span class="label_required">*</span></label>
            <input type="text" class="form-control" placeholder="" formControlName="phone" />
          </div>
        </div>
       
       


      </div>

      



        <div class="flex btn custom-sbt-div ">
          <button mat-stroked-button class="sign-out custom-sbt-btn"  >Update</button>
          <button mat-stroked-button class="sign-out">Cancel</button>
        </div>
      
</div>
    </form>
    

</mat-card>
<div  class="w-10 ml6 signDiv"  (click)="openEmailDialog()">
  
  <span class="white absolute pt2 pl2 f7">Verify Email </span> </div>
<!-- <div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div> -->
<!-- <div >
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Verify Email
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Enter Email</mat-label>
      <input matInput type="text" class="form-control" placeholder="" formControlName="email" />

    </mat-form-field>

   

  </mat-expansion-panel>
</mat-accordion>
 

<mat-accordion class="example-headers-align" multi style="background-color: blue;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Verify Mobile Number
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-form-field>
      
      <input matInput type="text" class="form-control" placeholder="" formControlName="phone" />

    </mat-form-field>

   

  </mat-expansion-panel>
</mat-accordion>

</div> -->