.header {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.navLabel, .header-mat-icon {
  color: #4a4a4a;
}
.signDiv {
  width: 265px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: -moz-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: -o-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: linear-gradient(45deg,#53b2fe,#065af3);
}
.btn{
  padding-left: 458px;
}
.customSignInArrow {
  margin-left: 8.5rem;
  margin-top: 5px;
  position: absolute;
}

// mat-icon{
//   padding: 0%;
//     margin-left: 168%;
//     /* margin-top: -9%; */
//     margin-bottom: 28%;
// }
img {
  vertical-align: middle;
  border-style: none;
  height: 45px;
}.header {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.navLabel, .header-mat-icon {
  color: #4a4a4a;
}
.signDiv {
  margin-top: 11px;
  margin-left: 53px;
  width: 179px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: -moz-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: -o-linear-gradient(45deg,#53b2fe,#065af3);
  background-image: linear-gradient(45deg,#53b2fe,#065af3);
}
.customSignInArrow {
  margin-left: 8.5rem;
  margin-top: 5px;
  position: absolute;
}
.cdk-overlay-container:empty {
  display: block;
}
// mat-icon{
//   padding: 0%;
//     margin-left: 168%;
//     /* margin-top: -9%; */
//     margin-bottom: 28%;
// }
img {
  vertical-align: middle;
  border-style: none;
  height: 45px;
}
.mat-toolbar{
  background: #343a40;
      color: #f5f5f5; }