// ::ng-deep .dialog-container .mat-dialog-container{
//   height: 510px;
//   width: 530px;
//   border-radius: 10px;
// }
// .close-btn {
//   border: 2px solid #4a4a4a;
//   border-radius: 25px;
//   width: 28px;
//   height: 28px;
//   padding: 0.5px;
// }
// ::ng-deep .passwordCls .mat-form-field-flex {
//   background-color: #ffffff;
// }
// .termsOfService {
//   color: #757575;
// }
// .signupBtn {
//   background-size: 200% 200% !important;
//   opacity: 1 !important;
//   background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
//   transition: opacity 1.25s ease 0s !important;
// }
// .signLink {
//   color: #e6424f;
// }

.login-logo {
    height: 39.8rem;
  }
  .custom-gut-logo {
    margin-left: 13rem;
      margin-top: 10rem;
  }
  .kt-login__signup-label {
    color: #74788d;
  }
  .kt-link {
    color: #5d78ff;
  }
  .login-form {
    max-width: 450px;
  }
  .login-title {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: none;
  }
  .login-title > h3{
    font-size: 1.7rem;
    color: #67666e;
  }
  .login-form-fields {
    margin: 3rem auto;
  }
  .signup-div {
    font-size: 0.9rem;
  }
  .forgot-password {
    color: #5d78ff;
  }
  .forgot-main-div {
    font-size: 0.9rem;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }
  
  .isDisabled {
    opacity: 0.6;
    pointer-events: none;
  }
  