::ng-deep .login-container .mat-dialog-container{
  height: 376px;
    width: 476px;
    border-radius: 5px;
}
.login-title {
  color: #4a4a4a;
}
// .login-main {
//   line-height: 26px;
// }
.login-main {
  margin-top: -46px;
  line-height: 26px;
  margin-left: -8px;
}
.create-account-link {
  color:#008cff;
}
.login-input:focus {
  border: none;
}
.login-with {
  color: #9b9b9b;
}
.form-group {
  margin-bottom: 0.3rem;
}
.login-fb {
  background-color: #3b589a;
}
.login-google {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #4a4a4a!important;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.login-google:active {
  background-color: #ffffff!important;
  border-color: #ffffff!important;
  color: #4a4a4a!important;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
}

.isDisabled {
  border-color: #306faa!important;
  opacity: 0.6;
  background-color: #f6f6f6!important;
  color: #306faa!important;
  pointer-events: none;
}
.close-icon {
  margin-block-end: -27px; 
    //margin-top: -18px;
    color: #4a4a4a;
    border: solid 1px;
    border-radius: 10px;
    border: -3px solid #4a4a4a;
    border-radius: -12px;
    margin-right: -18px;
    //margin-top: -32px;
}

.justify-end {
  justify-content: flex-end;
  margin-top: -21px;
  margin-bottom: -29px;
}
activeColor{
  background-color: yellow;
}
