<div class="flex justify-end">
  <div (click)="signupDialogClose()"><i class="material-icons close-icon pointer">close</i></div>
</div>
<div class="f3 fw9 login-title">Create New Account</div>
<!-- <div class="flex justify-between pa3-l login-main">
  
  <div>Already a member? <span class="fw9 create-account-link pointer" (click)="openLoginDialog()">Login</span></div>
</div> -->
<form class="pa3-l" [formGroup]="signupForm">
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control login-input" placeholder="Enter name" id="name" formControlName="name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="contactno">Contact Number:</label>
        <input type="text" numbersOnly class="form-control login-input" placeholder="Enter contact number" id="contactno" formControlName="phone">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control login-input" placeholder="Enter email" id="email" formControlName="email">
  </div>

  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control login-input" placeholder="Enter password" id="pwd" formControlName="password">
      </div>
    </div>
    <!-- <div class="col">
      <div class="form-group">
          <label for="role">Role:</label>
        <select class="custom-select" formControlName="role">
          <option value="" disabled>Please select a role</option>
          <option *ngFor="let role of roles">{{role}}</option>
        </select>
      </div>
    </div> -->
  </div>
  <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> <span class="login-title f7">I understand and agree with the Privacy Policy, User Agreement and Terms of Service.</span>
      </label>
    </div>
  <button class="btn btn-primary w-100" [class.isDisabled]="!signupForm.valid" [disabled]="!signupForm.valid" (click)="onCreateAccount()">CREATE ACCOUNT</button>
</form>
<!-- <div class="flex pa3-l justify-center">
  <div class="f7 login-with">OR LOGIN WITH</div>
</div>
<div class="flex pa3-l justify-between">
  <div class="w-50">
    <button class="btn btn-primary w-100 mr1 pa3-l pl0 login-fb"><img class="w-10 mr2" src="../../assets/images/fb.png">Login with Facebook</button>
  </div>
  <div class="w-50">
    <button class="btn btn-primary w-100 ml1 login-google"><img class="w-10 mr2" src="../../assets/images/google.png">Login with Google</button>
  </div>
</div> -->

