
<mat-card class="main-card">
    <mat-toolbar class="flex justify-around toolbar-title">Markup Manager</mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" >
    <div class="pa3-l" style="height: 75vh;overflow-y: auto;">
  
      <div class="flex justify-around items-center">
          <div class="flex w-50 justify-around">
              <div class="form-group">
                  <label>API &nbsp;<span class="label_required">*</span></label>
                  <select class="form-control" formControlName="api" name="api1" placeholder="select">
                    <option *ngFor="let api1 of API" [value]="ap1">{{api1 }}</option>
                  </select>
                </div>
          </div>
          <div class="flex w-50 space-around">
            <div class="form-group">
              <label>Country &nbsp;<span class="label_required">*</span></label>
              <select class="form-control" formControlName="country" name="country" placeholder="select">
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="flex justify-around items-center">
          <div class="flex w-50 justify-around">
              <div class="form-group">
                  <label>Markup Type &nbsp;<span class="label_required">*</span></label>
                  <select class="form-control" formControlName="mark" name="mark" placeholder="select">
                    <option *ngFor="let mark of Markup" [value]="ap1">{{mark }}</option>
                  </select>
                </div>
          </div>
          <div class="flex w-50 space-around">
              <div class="form-group">
                  <label>Markup &nbsp;<span class="label_required">*</span></label>
                  <input type="text" class="form-control"  placeholder="" formControlName="Markup" [ngClass]="{'is-invalid':form.get('Markup').touched && form.get('Markup').invalid}"/>
                  <div class="invalid-feedback">
                    <div>Mobile No is required</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="flex btn custom-sbt-div">
          <button mat-stroked-button *ngIf="!adminStatus" class="sign-out custom-sbt-btn" (click)="onAdminUserSave()"[disabled]="!form.valid">Submit</button>
    </div>
  </div>
  </form>
  </mat-card>
  
    <br>
          <mat-form-field class="width: 30%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
  
  
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
   
  
  <!-- API Name Column -->
  <ng-container matColumnDef="APIName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> APIName </th>
  <td mat-cell *matCellDef="let element"> {{element.APIName}} </td>
  </ng-container>
  
  
  <!-- Markup Column -->
  <ng-container matColumnDef="Markup">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Markup </th>
  <td mat-cell *matCellDef="let element"> {{element.Markup}} </td>
  </ng-container>
  <!--markup Process Coloumn-->
  <ng-container matColumnDef="MarkupProcess">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> MarkupProcess </th>
  <td mat-cell *matCellDef="let element"> {{element.MarkupProcess}} </td>
  </ng-container>
  
  
  <!-- Updated date and time-->
  <ng-container matColumnDef="UpdatedDate">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> UpdatedDate</th>
  <td mat-cell *matCellDef="let element"> {{element.UpdatedDate}} </td>
  </ng-container>
  
  
  <!-- Status -->
  <ng-container matColumnDef="Status">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
  <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
  </ng-container>
  
  <!--Actions -->
  <ng-container matColumnDef="Actions">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
  <td mat-cell *matCellDef="let element"> {{element.Actions}} </td>
  </ng-container>
  
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
  
    