.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  
  .form-group {
    margin-bottom: 1rem;
    margin-top: 2%
  }
  
  .form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    width: calc(1.5em + .75rem + 311px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .toolbar-title {
    color: #6c7293;
  }
  .main-card {
    padding: 0;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #5d78ff!important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #5d78ff!important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#5d78ff!important;
  }
  
  ::ng-deep label {
    color: #48465b;
  }
  
  .sign-out {
    color: #5d78ff;
    border-color: #5d78ff;
  }
  .sign-out:hover {
    background-color: #5d78ff;
    color:#ffffff;
  }
  
  .custom-sbt-btn {
    margin-right: 2rem!important;
  }
  
  .custom-sbt-div {
    margin-left: 38%;
  }
  table {
    width: 100%;
    table-layout: fixed;
    border:ridge;
  }
  th .mat-header-cell{
    border:ridge;
  }
  
  