
<mat-card class="main-card">
  <mat-toolbar class="flex justify-around toolbar-title">B2B Flight Markup</mat-toolbar>

<form [formGroup]="flightMarkup" style="background-color: #efebe5;">
    <div class="flex justify-around items-center">
      <div class="flex w-50 justify-around">
          <div class="form-group">
              <label>Roles<span class="label_required">*</span></label>
              <select class="form-control" formControlName="role" name="id" placeholder="select" (click)="onRoleChange($event)">
                <option *ngFor="let role of markupRole" [value]="role">{{role}}</option>
              </select>
            </div>
      </div>
      <div class="flex w-50 space-around">
        <div class="form-group" *ngIf="!showAgentOrDistributor">
          <label>Agent Ids<span class="label_required">*</span></label>
          <select class="form-control" formControlName="id" name="id" placeholder="select" (ngModelChange)="onAgentOrDistributorSelected($event)">
              <option *ngFor="let obj of agentOrDistributorIds" [value]="obj.agentNo">{{obj.agentNo}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="showAgentOrDistributor">
          <label>Distributors Ids<span class="label_required">*</span></label>
          <select class="form-control" formControlName="id" name="id" placeholder="select">
              <option *ngFor="let obj of agentOrDistributorIds" [value]="obj.distributorNo">{{obj.distributorNo}}</option>
            </select>
        </div>
      </div>
    </div>
    <div class="flex justify-around items-center">
      <div class="flex w-50 justify-around">
          <div class="form-group">
              <label>Markup<span class="label_required">*</span></label>
              <select class="form-control" formControlName="markup" name="mark" placeholder="select">
                <option *ngFor="let mark of markup" [value]="mark">{{mark}}</option>
              </select>
            </div>
      </div>
      <div class="flex w-50 space-around">
          <div class="form-group">
              <label>Markup process%<span class="label_required">*</span></label>
              <input type="text" class="form-control" placeholder="" formControlName="markuppercentage" />
            </div>
      </div>
    </div>

    <div class="flex btn custom-sbt-div">
      <button mat-stroked-button class="sign-out custom-sbt-btn" *ngIf="!submitBtnFlag" [class.isDisabled]="!flightMarkup.valid" [disabled]="!flightMarkup.valid" (click)="onFlightMarkupSave() ">Submit</button>
      <button mat-stroked-button class="sign-out" (click)="cancelDistributor()">Cancel</button>
    </div>


    </form>
  </mat-card>
    <br>
     
  
    <div class="flex">
      <label style=" margin-top: 2%;margin-left: 0%;  margin-bottom: 1%;  margin-right: -75%;">Search</label>
      <mat-form-field class="form-control "style="margin-left: 76%;     width: 23%;    margin-top: 1%">
        
        <input matInput (keyup)="applyFilter($event)" placeholder="" >
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
    <!-- API Name Column -->
    <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <!-- API Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <!-- Markup Column -->
    <ng-container matColumnDef="markup">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Markup </th>
    <td mat-cell *matCellDef="let element"> {{element.markup}} </td>
    </ng-container>
    <!--markup Process Coloumn-->
    <ng-container matColumnDef="markuppercentage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Markup Process </th>
    <td mat-cell *matCellDef="let element"> {{element.markuppercentage}} </td>
    </ng-container>

    <!--markup Process Coloumn-->
    <ng-container matColumnDef="addedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Added By </th>
      <td mat-cell *matCellDef="let element"> {{element.addedBy}} </td>
      </ng-container>


    <!-- Edited Icon Column -->
    <!-- <ng-container matColumnDef="edit">
      <th class="extra-small-column" mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
      <td class="extra-small-column" mat-cell *matCellDef="let row"> <mat-icon style="color: #149dcb; cursor: pointer" (click)="onMarkupEdit(row)">edit</mat-icon> </td>
    </ng-container> -->

    <!-- Deleted Icon Column -->
    <ng-container matColumnDef="delete">
        <th class="extra-small-column" mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td class="extra-small-column" mat-cell *matCellDef="let row"> <mat-icon style="color: #f00000; cursor: pointer" (click)="onMarkupDelete(row)">delete</mat-icon> </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>

