<!-- search div starts here -->

<mat-card class="z-3 booking-temp">
  <mat-tab-group mat-stretch-tabs class="search-mat-tab">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon mr1">flight</mat-icon>
        Flight
      </ng-template>
      <div class="flex justify-around items-center pa3-l f5 flight-search-title">

      </div>
      <div class="flex justify-around items-center mb2">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>
            <button class="mat-chip-button" [ngClass]="{'activeColor': oneWayActive}" (click)="changeChipSelected('oneWay')">One Way</button>
          </mat-chip>
          <mat-chip>
            <button class="mat-chip-button" [ngClass]="{'activeColor': roundTripActive}"  (click)="changeChipSelected('roundTrip')">Round Trip</button>
          </mat-chip>
          <mat-chip>
            <button class="mat-chip-button" (click)="changeChipSelected('multiCity')">Multi City</button>
          </mat-chip>
        </mat-chip-list>
      </div>
      <!-- <div class="flex justify-around items-center mb2">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>
            <button class="mat-chip-button" (click)="changeChipSelected('specialRoundTrip')">Special Round Trip</button>
          </mat-chip>
          <mat-chip>
            <button class="mat-chip-button" (click)="changeChipSelected('multiCity')">Multi City</button>
          </mat-chip>
        </mat-chip-list>
      </div> -->
      <div class="flex flex-column">
        <div *ngIf="!showMultiCityDiv">
          <div class="flex justify-around items-center">
            <div class="flex w-50 justify-around">
              <mat-form-field>
                <mat-label>From city</mat-label>
                <mat-select [(ngModel)]="origin">
                  <mat-option *ngFor="let city of originDestinations" [value]="city.AirportCode">
                    {{city.AirportName}} ({{city.AirportCode}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex w-50 space-around">
                <mat-form-field>
                  <mat-label>To city</mat-label>
                  <mat-select [(ngModel)]="destination">
                    <mat-option *ngFor="let city of originDestinations" [value]="city.AirportCode">
                      {{city.AirportName}} ({{city.AirportCode}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
          <div class="flex justify-around items-center">
            <div class="flex w-50 justify-around mr1 mat-input-date">
              <mat-form-field>
                <mat-label>Depart On</mat-label>
                <input matInput [matDatepicker]="picker1" [min]="todaysDate" [(ngModel)]="departDate" readonly (dateChange)="onTodaysDate()" (click)="picker1.open()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="flex w-50 space-around ml1 mat-input-date">
              <mat-form-field>
                <mat-label>Return On</mat-label>
                <input matInput [matDatepicker]="picker2" [min]="returnDate" [(ngModel)]="returnDate" [disabled]="currentlyDisabled" readonly (click)="picker2.open()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="flex justify-between items-center adult-child-main-div">
            <div class="flex justify-around mat-input-count">
              <mat-form-field class="example-full-width">
                <mat-label>Adults</mat-label>
                <input type="number" matInput placeholder="Adults" min="0" value="0" [(ngModel)]="Adults">
              </mat-form-field>
            </div>
            <div class="flex justify-around mat-input-count">
              <mat-form-field class="example-full-width">
                <mat-label>Childs(3-10)</mat-label>
                <input type="number" matInput placeholder="Childs" min="0" value="0" [(ngModel)]="Childs">
              </mat-form-field>
            </div>
            <div class="flex justify-around mat-input-count">
                <mat-form-field class="example-full-width">
                  <mat-label>Infants(0-2)</mat-label>
                  <input type="number" matInput placeholder="Infants" min="0" value="0" [(ngModel)]="Infants">
                </mat-form-field>
              </div>
          </div>
          <div class="flex justify-around items-center">
              <div class="flex w-50 justify-around">
                <mat-form-field>
                  <mat-label>Class</mat-label>
                  <mat-select [(ngModel)]="cabinClass">
                    <mat-option *ngFor="let class of flightClass" [value]="class.value">
                      {{class.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex w-50 space-around">
                  <mat-form-field>
                    <mat-label>Airline Type</mat-label>
                    <mat-select [(ngModel)]="AirlineType">
                      <mat-option *ngFor="let airline of airlineType" [value]="airline.value">
                        {{airline.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
          </div>
          <div *ngIf="showMultiCityDiv" class="multi-trip-city">
              <div class="flex w-100 justify-between items-center">
                  <div class="flex w-20 justify-around mat-input-count">
                    <mat-form-field class="example-full-width">
                      <mat-label>Adults</mat-label>
                      <input type="number" matInput name="Adults" [(ngModel)]="Adults" placeholder="Adults" min="0" value="0">
                    </mat-form-field>
                  </div>
                  <div class="flex w-20 justify-around mat-input-count">
                    <mat-form-field class="example-full-width">
                      <mat-label>Childs(2-12)</mat-label>
                      <input type="number" matInput name="Childs" placeholder="Childs" [(ngModel)]="Childs" min="0" value="0">
                    </mat-form-field>
                  </div>
                  <div class="flex w-20 justify-around mat-input-count">
                    <mat-form-field class="example-full-width">
                      <mat-label>Infants(0-2)</mat-label>
                      <input type="number" matInput name="Infants" placeholder="Infants" [(ngModel)]="Infants" min="0" value="0">
                    </mat-form-field>
                  </div>
                  <div class="flex w-40 justify-around mat-flight-class-multi">
                    <mat-form-field>
                      <mat-label>Class</mat-label>
                      <mat-select [(ngModel)]="cabinClass">
                        <mat-option *ngFor="let class of flightClass" [value]="class.value">
                          {{class.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <!-- multicity -->
              <div class="flex flex-column" *ngFor="let obj of multiObject; let i = index">
                  <mat-card>
                    <div class="flex justify-around items-center">
                      <!-- <div class="w-10"></div> -->
                      <div class="flex w-20 mr3 justify-around customFromToFieldMulti">
                        <mat-form-field>
                          <mat-label>From city</mat-label>
                          <mat-select [(ngModel)]="obj.fromCityOrAirport">
                              <mat-option *ngFor="let city of originDestinations" [value]="city.AirportCode">
                                {{city.AirportName}} ({{city.AirportCode}})
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- <div class="flex w-20 items-center justify-around">
                        <button mat-mini-fab (click)="changeOriginDest()" class="customSwapBtn">
                          <mat-icon class="material-icons pointer customSwap">swap_horiz</mat-icon>
                        </button>
                      </div> -->
                      <div class="flex w-20 mr3 justify-around customFromToFieldMulti">
                        <mat-form-field>
                          <mat-label>To city</mat-label>
                          <mat-select [(ngModel)]="obj.toCityOrAirport">
                              <mat-option *ngFor="let city of originDestinations" [value]="city.AirportCode">
                                {{city.AirportName}} ({{city.AirportCode}})
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="flex w-20 mr3 justify-around mr1 mat-input-date-multi">
                        <mat-form-field>
                          <mat-label>Depart On</mat-label>
                          <input matInput name="departDate" [matDatepicker]="picker3" [(ngModel)]="obj.travelDate" [min]="todaysDate" readonly (dateChange)="onTodaysDate()" (click)="picker3.open()">
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="flex w-20 mr3 justify-around mr1 mat-input-date-multi">
                          <button mat-mini-fab color="accent" (click)="onRemoveMulti(i)" class="btn">
                            <mat-icon>close</mat-icon>
                          </button>
                          <button *ngIf="multiObject.length - 1 <= i" mat-mini-fab color="accent" (click)="onAddMulti()" class="btn">
                            <mat-icon>add</mat-icon>
                          </button>
                      </div>
                      <!-- <div class="w-10"></div> -->
                    </div>
                  </mat-card>
                </div>
            </div>
          <div class="flex items-center items-end mb3">
            <div class="w-70"></div>
            <div class="w-30">
                <button mat-raised-button color="accent" (click)="onFlightSearch()">Search</button>
            </div>
          </div>
      </div>



    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon mr1">hotel</mat-icon>
        Hotel
      </ng-template>
      Hotel
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon mr1">work</mat-icon>
        Tour
      </ng-template>
      Tour
    </mat-tab>
  </mat-tab-group>
</mat-card>
<!-- search div ends here -->
<div>
  <ngb-carousel #carousel interval="5000" [pauseOnHover]="true" [showNavigationArrows]="false">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="picsum-img-wrapper">
          <img class="w-100" [src]="img" alt="My image {{i + 1}} description">
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<app-super-offers></app-super-offers>
<app-travel-blog></app-travel-blog>
<app-footer></app-footer>

