/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  background: #f2f2f2;
  padding: 0;
  margin: 0;
}
* {
  font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
