.customBackDrop .cdk-overlay-dark-backdrop {
    background: none!important
}
::ng-deep .mat-bottom-sheet-container {
    padding: 8px 16px;
    min-width: 100vw !important;
    box-sizing: border-box;
    display: block;
    outline: 0;
    height: 100px;
    max-height: 80vh;
    overflow: auto;
}
.flight_select_button {
        width: 100%;
      border-radius: 3px;
      background-color:#007bff;
      color: white;
      font-size: 12px;
      padding: 5px 30px;
      line-height: 28px;
  }