<div class="flex items-center w-100">
    <!-- <div class="flex flex-column w-40">
        Onward Flight
        {{leftData.flightNumber}}
    </div> -->
    <div class="flex items-center w-40">
        <div class="mr3">
          <img *ngIf="leftData.sI[0].fD.aI.name === 'Indigo'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
          <img *ngIf="leftData.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
          <img *ngIf="leftData.sI[0].fD.aI.name === 'Vistara'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4" alt="vistara">
          <img *ngIf="leftData.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
            src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
          <img *ngIf="leftData.sI[0].fD.aI.name === 'HahnAir'" style="width:50px; height: 50px"
            src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
          <img *ngIf="leftData.sI[0].fD.aI.name === 'Spice Jet'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">
          <img *ngIf="leftData.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">

        </div>
        <div class="mr3">
          <div style="text-align: center;font-size: 12px;color: #4a4a4a;">{{leftData.sI[0].fD.aI.name}}</div>
          <div style="text-align: center;font-size: 12px;color: #878787;">{{leftData.sI[0].fD.aI.code}}  {{leftData.sI[0].fD.aI.fN}}</div>
        </div>
        <div class="mr3">
          <div class="fw6 text-center f6 custom-light-gray">{{leftData.sI[0].dt | date:'hh:mm'}}</div>
          <div class="fw6 text-center f6 custom-light-gray">{{leftData.sI[0].dt | date:'d/MM/yyyy'}}</div>
          <div class="text-center f6" style="color: #000000">{{leftData.sI[0].da.city}}</div>
        </div>
        <div class="mr2">
          <div class=" custom-light-gray" style="font-size: 12px">{{leftData.remainingTime}}</div>
          <hr style="margin-block-start: 0em; margin-block-end: 0em">
        </div>
        <div class="mr2">
          <div class="fw6 text-center f6 custom-light-gray">{{leftData.sI[0].at | date:'hh:mm'}}</div>
          <div class="fw6 text-center f6 custom-light-gray">{{leftData.sI[0].at | date:'d/MM/yyyy'}}</div>
          <div class="text-center f6" style="color: #000000">{{leftData.sI[0].aa.city}}</div>
        </div>
        <div class="mr2">
          <div class="fw6" style="height: 65px; overflow-y:auto;width: 85px;min-width: 85px;">
            <!-- <label id="example-radio-group-label" class=" custom-light-gray">Select Price</label> -->
            <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selectedPrice">
              <mat-radio-button class="example-radio-button  custom-light-gray"
                *ngFor="let price of leftData.totalFare" [value]="price">
                ₹ {{math.ceil(price)}}
              </mat-radio-button>
            </mat-radio-group> -->
            <div>₹ {{leftData.totalPriceList[0].fd.ADULT.fC.TF}}</div>
          </div>
        </div>       
      </div>

    <!-- <div class="flex flex-column w-40">
        Return Flight
    </div> -->
    <div class="flex items-center w-40">
        <div class="mr3">
          <img *ngIf="rightData.sI[0].fD.aI.name === 'Indigo'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
          <img *ngIf="rightData.sI[0].fD.aI.name === 'IndiGo'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=4" alt="indigo">
          <img *ngIf="rightData.sI[0].fD.aI.name === 'Vistara'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=4" alt="vistara">
          <img *ngIf="rightData.sI[0].fD.aI.name === 'Hahn Air'" style="width:50px; height: 50px"
            src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
          <img *ngIf="rightData.sI[0].fD.aI.name === 'HahnAir'" style="width:50px; height: 50px"
            src="https://assets.hahnair.com/./hr17-405_hr-icon_blue.svg" alt="hahnair">
          <img *ngIf="rightData.sI[0].fD.aI.name === 'Spice Jet'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">
          <img *ngIf="rightData.sI[0].fD.aI.name === 'SpiceJet'" style="width:50px; height: 50px"
            src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4" alt="spicejet">

        </div>
        <div class="mr3">
          <div style="text-align: center;font-size: 12px;color: #4a4a4a;">{{rightData.sI[0].fD.aI.name}}</div>
          <div style="text-align: center;font-size: 12px;color: #878787;">{{rightData.sI[0].fD.aI.code}} {{rightData.sI[0].fD.aI.fN}}</div>
        </div>
        <div class="mr3">
          <div class="fw6 text-center f6 custom-light-gray">{{rightData.sI[0].dt | date:'hh:mm'}}</div>
          <div class="fw6 text-center f6 custom-light-gray">{{rightData.sI[0].dt | date:'d/MM/yyyy'}}</div>
          <div class="text-center f6" style="color: #000000">{{rightData.sI[0].da.city}}</div>
        </div>
        <div class="mr2">
          <div class=" custom-light-gray" style="font-size: 12px">{{rightData.remainingTime}}</div>
          <hr style="margin-block-start: 0em; margin-block-end: 0em">
        </div>
        <div class="mr2">
          <div class="fw6 text-center f6 custom-light-gray">{{rightData.sI[0].at | date:'hh:mm'}}</div>
          <div class="fw6 text-center f6 custom-light-gray">{{rightData.sI[0].at | date:'d/MM/yyyy'}}</div>
          <div class="text-center f6" style="color: #000000">{{rightData.sI[0].aa.city}}</div>
        </div>
        <div class="mr2">
          <div class="fw6" style="height: 65px; overflow-y:auto;width: 85px;min-width: 85px;">
            <!-- <label id="example-radio-group-label" class=" custom-light-gray">Select Price</label> -->
            <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="roundTripReturnSelectedPrice">
              <mat-radio-button class="example-radio-button  custom-light-gray"
                *ngFor="let price of rightData.totalFare" [value]="price">
                ₹ {{math.ceil(price)}}
              </mat-radio-button>
            </mat-radio-group> -->
            <div>₹ {{rightData.totalPriceList[0].fd.ADULT.fC.TF}}</div>
          </div>
        </div>
        <!-- <div>
          <button class="flight_select_button" mat-button (click)="onRightFlightSelect(obj)">Book</button>

        </div> -->
      </div>
    <div class="flex justify-around w-20">
        <button mat-button class="flight_select_button"  (click)="onRoundBook()">Book</button>
    </div>
</div>