.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

form{
  margin-bottom: 0;
  border: solid 1px;
  margin: 1px;
}

.row{
  background-color: white;
  border: solid 1px;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 5px;
}


.form-control{
  display: block;
  height: calc(1.5em + 0.75rem + -3px);
  width: calc(-8.5em + .75rem + 311px);
  padding: 4px 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}  .toolbar-title {
  color: #6c7293;
  padding-top: 1%;
  padding-bottom: 1%;
}
.main-card {
  padding: 0;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #5d78ff!important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #5d78ff!important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:#5d78ff!important;
}

::ng-deep label {
  color: #48465b;
}



.sign-out:hover {
  background-color:black;
  color:#ffffff;
}

.custom-sbt-btn {
  margin-right: 2rem!important;
}

.custom-sbt-div {
  margin-left: 42%;
}

.sign-out{
  color: #212529;
  border-color: #212529;
}


.isDisabled {
  border-color: #212529 !important;
  /* opacity: 0.6; */
  background-color: #f6f6f6 !important;
  color: #212529 !important;
}




h4 {
font-size: 20px;
margin-bottom: 0.5%;
margin-top: 1%;
margin-left: 0%;
}


.form-group {
margin-bottom: 1rem;
margin-top: 2%;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
  margin-left: 5%!important;
}



.company-logo-img {
  width: 200px;
  display: block;
}
.mat-card {
  background: #dee2e6;
  color: rgba(0,0,0,.87);
}
.mat-stroked-button {
  border: 1px solid currentColor;
  padding: -2px 15px;
  line-height: 34px;
  background: #f8f9fa;
}
.mat-toolbar {
  background: #5a6069;
  
}
.toolbar-title{
  color: white;
}
.col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 29.333333%;
  margin-left: 4%; 
  padding-left: 8%;
}
h3 {
  color: #48465b;
  font-size: 20px;
  margin-left: -25%;
  margin-top: 6%;
  margin-bottom: 4%;
}