<!-- b2b new -->
<mat-card class="main-card">
    <mat-toolbar class="flex justify-around toolbar-title" style="background-color: #394951;">New Agent</mat-toolbar>
    <form [formGroup]="AgentForm">
        <div class="pa3-l " style="height: 100%;overflow-y: auto;    background-color: #efebe5;">

                    <div class="form-login">
                        <h4>Login Information</h4>
                    </div>
                    <div class="row">

                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Name<span class="label_required">*</span></label>
                            <input type="text" class="form-control" 
                                formControlName="name" />
                        </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Email Address<span class="label_required">*</span></label>
                            <input type="text" class="form-control" 
                                formControlName="email" />
                        </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Password<span class="label_required">*</span></label>
                            <input type="text" class="form-control" placeholder="Password"  />
                        </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Contact<span class="label_required">*</span></label>
                            <input type="text" class="form-control"  formControlName="phone" />
                        </div>
                    </div>
                   
               </div>



               <div class="form-login">
                <h4>Agency Information</h4>
            </div>
            <div class="row">
                
           
            <div class="flex w-25 justify-around">
                <div class="form-group">
                    <label> Agent/ Company Name<span class="label_required">*</span></label>
                    <input type="text" class="form-control" 
                        formControlName="agentOrCompanyName" />
                </div>
            </div>
            <div class="flex w-25 justify-around">
                <div class="form-group">
                    <label>Office No.<span class="label_required">*</span></label>
                    <input type="number" class="form-control" 
                        formControlName="officeNo" />
                </div>
            </div>
            
            <div class="flex w-25 justify-around">
                <div class="form-group">
                    <label> Website</label>
                    <input type="text" class="form-control" 
                        formControlName="companyWebsite" />
                </div>
            </div>


           

            <div class="flex w-25 justify-around">
                <div class="form-group">
                    <label>Company PAN Card</label>
                    <input type="text" class="form-control"  formControlName="companypancard" />
                </div>
            </div>
            <div class="flex w-25 justify-around">
                <div class="form-group">
                    <label>GST No.</label>
                    <input type="text" class="form-control"  formControlName="gstno" />
                </div>
            </div>
            </div>
                <!-- <div class="form-login">
                    <h4>Owner Information</h4>
                </div> -->
                <!-- <div class="row">
                    
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Name<span class="label_required">*</span></label>
                            <input type="text" class="form-control" placeholder="Owner Name"
                                formControlName="ownername" />
                        </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Aadhar Card<span class="label_required">*</span></label>
                            <input type="text" class="form-control" placeholder="Aadhar No" formControlName="ownerAadhar" />
                        </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>PAN Card<span class="label_required">*</span></label>
                            <input type="text" class="form-control" placeholder="Pan Card No" formControlName="ownerpancard" />
                        </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Contact<span class="label_required">*</span></label>
                            <input type="text" class="form-control" placeholder="Mobile No." formControlName="ownerphone" />
                        </div>
                    </div>
                   
</div> -->












<div class="form-login">
    <h4>Communication Address</h4>
</div>


<div class="row">
    <div class="flex w-25 justify-around">

    <div class="form-group">
        <label>Address<span class="label_required">*</span></label>
        <textarea class="form-control" cols="4" rows="4" id="validationCustom02"
        formControlName="companyLocation"></textarea>    </div> </div>

                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Country<span class="label_required">*</span></label>
                            <select class="form-control" formControlName="country"placeholder="Country" [(ngModel)]="selectedCountry" (change)="changeCountry($event.target.value)">
                                <option>--Choose Country--</option>
                                <option *ngFor="let country of Countries">{{country.name}}</option>
                            </select>    
                          </div>
                    </div>

                        <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>State<span class="label_required">*</span></label>
                            <select class="form-control" formControlName="state"placeholder="State" (change)="changeState($event.target.value)">
                                <option>--Choose State--</option>
                                <option *ngFor="let state of states">{{state.name}}</option>
                            </select>  
                          </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>City<span class="label_required">*</span></label>
                            <select class="form-control" formControlName="city" placeholder="City" (change)="changeCountry($event.target.value)">
                                <option>--Choose City--</option>
                                <option *ngFor="let city of cities">{{city}}</option>
                            </select>
                          </div>
                    </div>
                    <div class="flex w-25 justify-around">
                        <div class="form-group">
                            <label>Zip/PostalCode<span class="label_required">*</span></label>
                            <input type="text" class="form-control" placeholder="PostalCode" formControlName="zipCode" />
                        </div>
                    </div>

</div>

      
<div class="flex btn custom-sbt-div">
                <!-- <button mat-stroked-button class="sign-out custom-sbt-btn"  [class.isDisabled]="!AgentForm.valid" [disabled]="!AgentForm.valid" (click)="onCreateAgent()">Submit</button> -->
                <button mat-stroked-button class="sign-out custom-sbt-btn" [class.isDisabled]="!AgentForm.valid" [disabled]="!AgentForm.valid" (click)="onCreateAgent()">Submit</button>
                <button mat-stroked-button class="sign-out">Cancel</button>
            </div>

</div>
    </form>
</mat-card>