::ng-deep .custom-slider .ng-image-slider .ng-image-slider-container .main .prev {
  right: 70px;
  top: -30px;
  left: auto;
}
::ng-deep .custom-slider .ng-image-slider .ng-image-slider-container .main {
  overflow: visible;
}

::ng-deep .custom-slider .ng-image-slider .ng-image-slider-container .main .next {
  right: 24px;
  top: -15%;
}
