<div class="flex flex-column mt5 mb5 w-100">
  <div class="flex items-center w-100">
    <div class="pl3 pb3 f3">Super Offers</div>
  </div>
  <div class="flex items-center w-100 pl4">
    <mat-card *ngFor="let obj of imageObject" class="mr4" style="padding: 0;">
      <img style="width: 300px; height: 180px" [src]="obj.image">
    </mat-card>
  </div>
  <!-- <ng-image-slider
    class="custom-slider"
    [images]="imageObject"
    [imageSize]="{ width: 400, height: 200, space: 4 }"
    #nav
  ></ng-image-slider> -->
</div>
