
<div class="flex w-100">
  <div class="flex w-50">
    <img class="absolute custom-gut-logo" style="margin-top:3%;"src="../../assets/images/Tripee.png" alt="trippe-logo">
    
  </div>
  <div class="flex flex-column w-50" style="background-color:#f6f4f2;">
      <div class="fw5 tr mt5 mr2 mb2 signup-div">
        <!-- <span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
        <a class="kt-link relative link dib">Sign Up</a> -->
      </div>
      <div class="flex justify-center items-center h-100">
        <mat-card class="w-100 login-form">
            <div class="login-title">
              <h3>Admin Login</h3>
            </div>
            <form class="login-form-fields" [formGroup]="loginForm">
              <div class="flex w-100">
                  <mat-form-field class="example-full-width w-100 pr4 pl4">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Ex. abc@example.com" formControlName="email">
                  </mat-form-field>
                </div>
                <div class="flex w-100 items-center mb2">
                  <mat-form-field appearance="fill" class="w-100 pl4 pr4 passwordCls">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="flex w-100 items-center mb2 justify-end forgot-main-div">
                  <div class="forgot-password">Forgot Password</div>
                </div>
                <div class="flex w-100 items-center justify-around mb3">
                  <button mat-raised-button class="w-60 signupBtn" color="primary" [class.isDisabled]="!loginForm.valid" [disabled]="!loginForm.valid" (click)="onSignin()">Continue</button>
                </div>
            </form>

          </mat-card>
      </div>
  </div>
</div>
